html, body{
	min-height: 100%;
}

body, div, form, input, select, textarea, label, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: 'Arial', 'Microsoft JhengHei', sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
}


/* navigation */
.navigation ul {
	margin: 40px auto;
	text-align: center;
	padding: 0 20px;
}

.navigation li {
	color: #79bd9a;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	width: 150px;
}

.navigation a {
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
}

.navigation li:hover {
	color: #3b8686;
}


/* video audio*/
.video{
	margin: 40px auto;
	text-align: center;
	padding: 0 10px;
}

.testbox{
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	padding: 20px;
}

form{
	width: 100%;
	padding: 20px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 0 8px #D8E6E7;
}


/* banner */
.banner {
	background-image: url("images/banner_form.jpg");
	position: relative;
	background-size: cover;
	height: 300px;
	display: flex;
	justify-content: center;
	/*alignment-adjust: center;*/
	text-align: center;
}

h1{
	position: absolute;
	margin: 0;
	font-size: 40px;
	z-index: 2;
	line-height: 200px;
}

.banner::after{
	content: "";
	background-color: rgba(0, 0, 0, 0.08);
	position: absolute;
	width: 100%;
	height: 100%;
}


.colums {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
}

.colums div {
    width:48%;
}

.item span{
    color: red;
}

.item {
    position: relative;
    margin: 10px 0;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
}

select{
	width: calc(90% + 50px);
	padding: 5px 0;
	background: transparent;
}

textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

input, option, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


/* checkbox */
.checkbox:hover input {
    box-shadow: none;
}

.checkbox label:hover input {
    box-shadow: 0 0 5px 0 #ccc;
}

.checkbox-item input, .checkbox-item span {
    width: auto;
    vertical-align: middle;
}

.checkbox-item input {
    margin: 0;
}

.checkbox-item span {
    margin: 0 20px 0 5px;
}

.checkbox {
    position: relative;
    margin: 10px 0;
}


/* radio */
.question-item span{
    color: red;
}

input[type=radio]{
    display: none;
}

label.radio{
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
}

.question-answer span {
    margin-left: 30px;
}

label.radio:before{
	content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

label.radio:after{
    left: 5px;
    border: 3px solid #ccc;
    content: "";
    position: absolute;
    top: 6px;
    width: 8px;
    height: 4px;
    background: transparent;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=radio]:checked + label:after{
    opacity: 1;
}


/* button */
.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background:  #3b8686;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background:  #669999;
}


footer{
	border: 3px solid #a8dba8;
	color: #3b8686;
	background-color: #a8dba8;
	margin: 40px auto;
	text-align:center;
	padding: 20px 0;
}