body {
	background-color: white;
	font-family: 'Arial', 'Microsoft JhengHei', sans-serif;
	padding: 0 20px;
	color: #666;
}

/* Navigation */
.navigation ul {
	margin: 40px auto;
	text-align: center;
	padding: 0 20px;
}

.navigation li {
	color: #79bd9a;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	width: 150px;
}

.navigation a {
	color: inherit; /* 移除超連結顏色 */
	text-decoration: none;  /* 移除超連結底線 */
}

.navigation li:hover {
	color: #3b8686;
}

/* Banner */
#banner {
	background-image: url("images/banner_1.jpg");
	background-size: cover;
	background-position: bottom center;
	height: 500px;
	width: 100%;
}

#banner .content header h1{
	border: 3px solid white;
	color: #3b8686;
	text-align: center;
	background-color: #fff;
	opacity: .8;
	position: relative;
	top: 100px;
	width: 500px;
	height: 100px;
	margin: 0 auto;
	padding-top: 30px;
}

main{
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

h2{
	color: #555555
}

/* Recipe Card */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.recipe-card {
	width: 350px;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.27);
	border-radius: 15px;
	overflow: hidden;
	padding: 10px;
	margin: 100px auto;
}

.recipe-card-image {
	max-height: 250px;
	overflow: hidden;
	margin: -10px -10px 15px -10px;
}

.recipe-card-image img {
	max-width: 100%;
	margin-top: -15%;
}

.recipe-card-title {
	font-size: 18px;
	margin-bottom: 25px;
	color: #79bd9a;
	text-align: center;
	padding-top: 10px;
}

.recipe-card-title a{
	color: inherit; /* 移除超連結顏色 */
	text-decoration: none;  /* 移除超連結底線 */
}

footer{
	border: 3px solid #a8dba8;
	color: #3b8686;
	background-color: #a8dba8;
	margin: 40px auto;
	text-align:center;
	padding: 20px 0;
}
