/**
/* About Introduction
**/

.about__introduction {
  width: 100%;
  height: var(--height-section-100vh);
  position: relative;
  background-color: var(--color-gray5-mainbg);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.introduction__content {
  width: 50.5%; /*909px;*/
  height: 94.70%; /*965px;*/
  position: relative;
  padding-top: 10.74%; /*272.5px;*/
  padding-left: 10.44%; /*188px;*/
  color: var(--color-black4-text);
}

.introduction__title {
  width: 171px;
  height: 64px;
  background-color: var(--color-yellow1-main);
  text-align: center;
}

.introduction__title h1 {
  font-size: 40px;
  letter-spacing: 0;
  line-height: 96px;
  color: var(--color-black4-text);
  position: relative;
  top: -19px;
  left: -1px;
}

.introduction__content h2 {
  font-size: 40px;
  letter-spacing: 0;
  margin-top: 7.876%; /*76px;*/
  margin-bottom: 3.32%; /*32px;*/
  color: var(--color-black4-text);
  line-height: 50px;
}

.introduction__content p {
  font-family: var(--font-sfultralight);
  font-size: 24px;
  letter-spacing: 0;
  color: var(--color-black4-text);
}

.about__egg {
  width: 24.56vw;
  height: 596px;
  position: relative;
  padding-top: 156.5px;
  padding-left: 256px;
  overflow: hidden;
}

.about__egg img {
  height: 596px;
  position: relative;
  right: -50%;
  opacity: 0.32;
  object-fit: cover;
  overflow: hidden;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .introduction__content h2 {
    font-size: 32px;
  }

  .introduction__content p {
    font-size: 20px;
  }
}


/**
/* About Location
**/

.about__location {
  position: relative;
  height: var(--height-about-location);
}

.location__content {
  width: 100%;
  height: 100%;
  background-image: url("../images/about/location.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.location__content p {
  width: 399px;
  height: 42px;
  background-color: var(--color-black4-text);
  font-family: ArialMT;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 43px;
  text-align: center;
  position: relative;
  top: 509px;
  margin: 0 auto;
}


/**
/* About Clients
**/

.about__clients {
  position: relative;
  height: 83.07vw;
  background-color: var(--color-gray4-aboutbg);
}

.about__section-title {
  font-size: 40px;
  color: var(--color-black4-text);
  letter-spacing: 0;
  text-align: center;
  padding-top: 1129%;
  padding-bottom: 4.39%;
}

.about__clients p {
  width: 1153px;
  color: var(--color-black4-text);
  margin: 0 auto;
  font-family: var(--font-sflight);
  font-size: 26px;
  letter-spacing: 0;
}

.about__clients p span {
  font-family: var(--font-sfbold);
  font-size: 26px;
  color: var(--color-black4-text);
  letter-spacing: 0;
  line-height: 31px;
  position: relative;
  z-index: 1;
}

.about__clients p span:before {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  background-color: var(--color-yellow2-light);
  z-index: -1;
}

.client__img {
  width: 71.44vw;
  position: relative;
  margin: 0 auto;
  margin-top: 110px;
}

.client__img img {
  width: 100%;
  height: 100%;
}

.nonprofit {
  height: 33.33vw;
  position: relative;
  top: 9.84vw;
  background-color: var(--color-white);
}

.about__clients .nonprofit p {
  width: 672px;
  height: 37px;
  padding-top: 7.81%;
}

.nonprofit .clients__img {
  width: 85.94%; /*1547px;*/
  height: 41.56%; /*266px;*/
  position: relative;
  margin: 0 auto;
}

.nonprofit .clients__img img {
  width: 100%;
}

@media (min-width: 992px) and (max-width: 1300px) {
  .about__clients p {
    width: 650px;
    font-size: 24px;
  } 

  .about__clients p span {
    font-size: 24px;
  } 

  .about__clients .nonprofit p {
    font-size: 24px;
  }

  .nonprofit {
    height: 33.33vw;
    position: relative;
    top: 9vw;
    background-color: var(--color-white-01);
  }
}


/**
/* About Others
**/

.about__others {
  position: relative;
  height: 195.4vw;
  background-color: var(--color-gray4-aboutbg);
  display: grid;
  grid-template-rows: 13.92% 18.146% 9.50% 3.6% 20.33% auto 4.59% 18.146% auto;
  grid-template-columns: 3% 2.6% 40% 15% 37% 2.4%;     
  overflow: hidden;                 
}

.about__section-title {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 6;
  padding-top: 6.69%; /*236px;*/
  padding-bottom: 6.18%; /*218px;*/
  color: var(--color-black-10);
  text-align: center;
}

.about__others h4 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  letter-spacing: 0;
}

.about__others p {
  font-family: var(--font-sfthin);
  font-size: 24px;
  letter-spacing: 0;
}

.media__content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 85%;
}
.media__content h4 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  color: var(--color-black4-text);
  letter-spacing: 0;
  margin-bottom: 29px;
}

.media__content p {
  font-family: var(--font-sfthin);
  font-size: 24px;
  color: var(--color-black4-text);
  letter-spacing: 0;
}

.media__img {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
  overflow: hidden;
}

.media__img img {
  width: 100%;
}

.others__collection {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: #191919;
}

.collection__img {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 4;
}

.collection__img img {
  width: 100%;
}

.collection__content {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 5;
  grid-column-end: 6;
  width: 85%;
  padding-top: 30%;
}

.collection__content h4 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  letter-spacing: 0;
  padding-bottom: 31px;
}

.collection__content p {
  font-family: var(--font-sflight);
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

.teaching__content {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 85%;
}

.teaching__content h4 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  color: var(--color-black4-text);
  letter-spacing: 0;
  padding-bottom: 23px;
}

.teaching__content p {
  font-family: var(--font-sflight);
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black4-text);
}

.teaching__img {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 4;
  grid-column-end: 6;
  overflow-x: hidden;
}

.teaching__img img {
  width: 100%;
  overflow: hidden;
}


@media (max-width: 1200px) {
  .media__content p,
  .collection__content p,
  .teach__content p {
    font-size: 16px;
  }
}


/** 
* About Hobby
**/

.about__hobby {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
}

.hobby__overlay {
  position: relative;
}

.hobby__overlay img {
  width: 100%;
  height: auto;
}

.hobby__overlay-text {
  display: block;
  position: absolute;
  width: 100%;
  height: var(--height-section-100vh);
  top: 0;
}

.hobby__overlay-text defs path {
  fill: black;
}