/**
/* About Introduction
**/

.about__introduction {
  width: 100%;
  height: var(--height-section-1080-proportion);
  position: relative;
  background-color: var(--color-gray-5-mainbg);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.introduction__content {
  width: 50.5%;
  height: 94.70%;
  position: relative;
  padding-top: 10.74%;
  padding-left: 10.44%;
  color: var(--color-black-5-text);
}

.introduction__title {
  width: 170px;
  height: 60px;
  background-color: var(--color-yellow-1-main);
  text-align: center;
}

.introduction__title h1 {
  font-size: 40px;
  letter-spacing: 0;
  line-height: 96px;
  color: var(--color-black-5-text);
  position: relative;
  top: -19px;
  left: -1px;
}

.introduction__content h2 {
  font-size: 40px;
  letter-spacing: 0;
  margin-top: 7.876%;
  margin-bottom: 3.32%;
  color: var(--color-black-5-text);
  line-height: 50px;
}

.introduction__content p {
  font-family: var(--font-sfultralight);
  font-size: 20px;
  letter-spacing: 0;
  color: var(--color-black4-text);
}

.about__egg {
  width: 24.56vw;
  height: 100%; /*596px;*/
  position: relative;
  padding-top: 156.5px;
  padding-left: 256px;
  overflow: hidden;
}

.about__egg img {
  height: 350px; /*596px;*/
  position: relative;
  top: 15%;
  right: -50%;
  opacity: 0.32;
  object-fit: cover;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .about__introduction {
    height: var(--height-section-1080-proportion-1440);
  }

  .introduction__content h2 {
    font-size: 32px;
  }

  .introduction__content p {
    font-size: 16px;
  }
}


/**
/* About Location
**/

.about__location {
  position: relative;
  height: var(--height-section-1080-proportion);
}

.location__content {
  width: 100%;
  height: 100%;
  background-image: url("../images/about/location.png");
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.location__content--active {
  width: 399px;
  height: 42px;
  background-color: var(--color-black-5-text);
  font-family: var(--font-span);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 43px;
  text-align: center;
  position: relative;
  top: calc(var(--height-section-1080-proportion) / 2 - 21px);
  margin: 0 auto;
  -webkit-animation: reveal 2s linear forwards;
    -moz-animation: reveal 2s linear forwards;
      -o-animation: reveal 2s linear forwards;
         animation: reveal 2s linear forwards;
}

@-webkit-keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@-moz-keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@-ms-keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@-o-keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}


/**
/* About Clients
**/

.about__clients {
  position: relative;
  height: 83.07vw;
  background-color: var(--color-gray-4-aboutbg);
}

.about__section--title {
  font-size: 40px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 10px;
}

.about__clients p {
  width: 1000px;
  color: var(--color-black-5-text);
  margin: 0 auto;
  font-family: var(--font-sflight);
  font-size: 20px;
  letter-spacing: 0;
}

.about__clients p span {
  font-family: var(--font-sfbold);
  font-size: 20px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  line-height: 31px;
  position: relative;
  z-index: 1;
}

.about__clients p span:before {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  background-color: var(--color-yellow-2-light);
  z-index: -1;
}

.client__img {
  width: 64vw;
  position: relative;
  margin: 0 auto;
  margin-top:64px;
}

.client__img img {
  width: 96%;
  height: 96%;
}

.nonprofit {
  height: 33.33vw;
  position: relative;
  top: 9.84vw;
  background-color: var(--color-white);
}

.about__clients .nonprofit p {
  width: 672px;
  height: 37px;
  padding-top: 7.81%;
}

.nonprofit .clients__img {
  width: 80%;
  height: 41.56%;
  position: relative;
  margin: 0 auto;
}

.nonprofit .clients__img img {
  width: 100%;
}

@media (min-width: 992px) and (max-width: 1300px) {
  .about__clients p {
    width: 650px;
    font-size: 24px;
  } 

  .about__clients p span {
    font-size: 20px;
  } 

  .about__clients .nonprofit p {
    font-size: 20px;
  }

  .nonprofit {
    top: 9vw;
  }
}


/**
/* About Others
**/

.about__others {
  position: relative;
  height: 160vw;
  background-color: var(--color-gray-4-aboutbg);
  display: grid;
  grid-template-rows: 8% 18.146% 6% 3.6% 20% 3% auto 18.146% auto;
  grid-template-columns: 3% 2.6% 40% 15% 37% 2.4%;     
  overflow: hidden;
}

.about__section--title {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 6;
  padding-top: 2%;
  padding-bottom: 2%;
  color: var(--color-black-5-text);
  text-align: center;
}

.about__others h4 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  letter-spacing: 0;
}

.about__others p {
  font-family: var(--font-sfthin);
  font-size: 29px;
  letter-spacing: 0;
}

.media__content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 85%;
}
.media__content h4 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  margin-bottom: 29px;
}

.media__content p {
  font-family: var(--font-sfthin);
  font-size: 16px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
}

.media__img {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
  overflow: hidden;
}

.media__img img {
  width: 100%;
}

.others__collection {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: var(--color-black-2-footerbg);
}

.collection__img {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 4;
}

.collection__img img {
  width: 100%;
}

.collection__content {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 5;
  grid-column-end: 6;
  width: 85%;
  padding-top: 30%;
}

.collection__content h4 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  letter-spacing: 0;
  padding-bottom: 31px;
}

.collection__content p {
  font-family: var(--font-sflight);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--color-gray-1-footertext);

}

.teaching__content {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 85%;
}

.teaching__content h4 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  padding-bottom: 23px;
}

.teaching__content p {
  font-family: var(--font-sflight);
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black-5-text);
}

.teaching__img {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 4;
  grid-column-end: 6;
  overflow: hidden;
}

.teaching__img img {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .media__content p,
  .collection__content p,
  .teach__content p {
    font-size: 16px;
  }
}


/** 
* About Hobby
**/

.about__hobby {
  position: relative;
  display: block;
  width: 100%;
  min-height: 500vh;
  height: 500vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-black-2-footerbg);
}

.hobby__overlay {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.hobby__bg{
  width: 105%;
}

.hobby__overlay-text {
  display: block;
  position: absolute;
  width: 105%;
  height: 100%;
  top: 0;
  left: 0
}
