body {
  width: 100vw;
}

.contact__header {
  width: 100vw;
  height: var(--height-header);
  background-color: var(--color-black-1-homebg);
}

.go-back a img {
  transform: rotate(180deg);
}

.go-back p {
  font-family: var(--font-sfbold);
  font-size: 20px;
  color: var(--color-white) !important;
  letter-spacing: 0;
  font-weight: 700;
}

.contact__main {
  width: 100vw;
  height: var(--height-section-100vh);
  background-color: var(--color-black-1-homebg);
  left: 0;
}

.contact {
  position: relative;
  height: 50.625vw;
  display: grid;
  grid-template-columns: 14.58% 34.375% 14.58% auto;
  overflow: hidden;
}

.contact__form {
  grid-column-start: 2;
  grid-column-end: 3;

  display: grid;
  grid-template-rows: 10.56% 5.56% 3.89% auto 12.22%;
}

.contact__form h2 {
  grid-row-start: 2;
  grid-row-end: 3;

  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 60px;
  margin: 0;
}

form {
  grid-row-start: 4;
  grid-row-end: 5;
}

.form__inputBox {
  width: 100%;
  height: 20.31%;
  position: relative;
  font-family: var(--font-sfthin);
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
}

.form__inputBox label {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form__inputBox label p {
  color: var(--color-red-error);
  visibility: hidden;
}

.form__inputBox .name__valid  p,
.form__inputBox .email__valid  p,
.form__inputBox .message__valid  p {
  visibility: visible;
}

.form__inputBox--textarea {
  height: 300px;
}

.form__inputBox input,
.form__inputBox textarea {
  width: 100%;
  height: 51.1%;
  padding: 5px 10px;;
  font-size: 20px;
  margin-top: 2.73%;
  margin-bottom: 2.88%;
  border: 0.75px solid var(--color-black-3-formBorder);
  background-color: var(--color-black-1-homebg);
  outline: none;
  resize: none;
  border-radius: 4px;
  color: var(--color-white);
  letter-spacing: 0;
  font-weight: 200;
}

.form__inputBox input::placeholder,
.form__inputBox textarea::placeholder {
  font-family: var(--font-sflight);
  font-size: 24px;
  color: var(--color-black-4-leftNav);
  letter-spacing: 0;
  font-weight: 200;
}

.form__inputBox input:focus,
.form__inputBox textarea:focus {
  border: 1px solid var(--color-yellow-1-main);
}

.form__inputBox:focus-within {
  color: var(--color-yellow-1-main);
}

.form__inputBox textarea {
  height: 210px;
}

.form__inputBox input.error, 
.form__inputBox textarea.error {
  border: 1px solid var(--color-red-error);
}

.form__inputBox input.success, 
.form__inputBox textarea.success {
  background: var(--color-black-2-footerbg);
  border: 1px solid var(--color-black-3-formBorder);
}

.submit {
  width: 260px;
  height: 72px;
  background-color: var(--color-yellow-4-contactdark);
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  font-family: var(--font-secondary);
  font-size: 28px;
  color: var(--color-yellow-5-invalidText);
  letter-spacing: 0.3px;
  -webkit-transition: 0.3s linear;
       -o-transition: 0.3s linear;
          transition: 0.3s linear;
}

.submit__success {
  width: 260px;
  height: 72px;
  background-color: var(--color-yellow-1-main);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  font-family: var(--font-sfmedium);
  font-size: 24px;
  color: var(--color-black-6-validText);
  letter-spacing: 0.26px;
  font-weight: 500;
  -webkit-transition: 0.3s linear;
       -o-transition: 0.3s linear;
          transition: 0.3s linear;
}

@media (max-width: 1670px) {
  .contact__header {
    height: var(--height-header-1440);
  }

  .contact__main {
    height: var(--height-section-100vh-1440);
  }
  
  .contact__form h2 {  
    font-size: 45px;
    line-height: 45px;
  }
  
  .form__inputBox {
    height: 108.75px;
    font-size: 12px;
  }
  
  .form__inputBox--textarea {
    height: 225px;
  }
  
  .form__inputBox input,
  .form__inputBox textarea {
    height: 54px;
    font-size: 20px;
    margin-top: 12.25px;
    margin-bottom: 28.5px;
  }
  
  .form__inputBox input::placeholder,
  .form__inputBox textarea::placeholder {
    font-size: 20px;
  }
  
  .form__inputBox input:focus,
  .form__inputBox textarea:focus {
    border: 0.75px solid var(--color-yellow-1-main);
  }
  
  .form__inputBox textarea {
    height: 157.5px;
  }
  
  .submit {
    width: 195px;
    height: 54px;
    font-size: 18px;
  }
  
  .submit__success {
    width: 195px;
    height: 54px;
    font-size: 18px;
    letter-spacing: 0.19px;
  }
}

.contact__info {
  grid-column-start: 4;
  grid-column-end: 5;

  display: grid;
  grid-template-rows: 23.41% 24px 2.34% 29px 10.24% 24px 2.34% 29px 10.24% 24px 2.34% auto 8.595% 6.15vw;
  grid-template-columns: auto 12.57% 6.15vw;
}

.contact__info p {
  padding-bottom: 20px;
  font-family: var(--font-sfthin);
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 200;
}

.contact__info span a {
  font-family: var(--font-secondary);
  font-size: 24px;
  color: var(--color-yellow-4-contactdark);
  letter-spacing: 0;
  font-weight: 400;
}

.contact__info span:hover a {
  color: var(--color-yellow-1-main);
  text-decoration: underline;
}

.info__email--p {
  grid-row-start: 2;
  grid-row-end: 3;
}

.info__email--span {
  grid-row-start: 4;
  grid-row-end: 5;
}

.info__phone--p {
  grid-row-start: 6;
  grid-row-end: 7;
}

.info__phone--span {
  grid-row-start: 8;
  grid-row-end: 9;
}

.info__social--p {
  grid-row-start: 10;
  grid-row-end: 11;
}

.sci {
  grid-row-start: 12;
  grid-row-end: 13;
}

.go-top {
  grid-row-start: 13;
  grid-row-end: 14;
  grid-column-start: 2;
  grid-column-end: 3;
}

.go-top img {
  width: 100%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1670px) {
  .contact__info p {
    padding-bottom: 18px;
    font-size: 15px;
  }
  
  .contact__info span a {
    font-size: 18px;
  }
}