body {
  width: 100vw;
}

.contact__header {
  width: 100vw;
  height: var(--height-header);
  background-color: var(--color-black-1-homebg);
}

.go-back a img {
  transform: rotate(180deg);
}

.go-back p {
  font-family: var(--font-sfbold);
  font-size: 20px;
  color: var(--color-white) !important;
  letter-spacing: 0;
  font-weight: 700;
}

.contact__main {
  width: 100vw;
  height: var(--height-section-100vh);
  background-color: var(--color-black-1-homebg);
  left: 0;
}

@media (max-width: 1670px) {
  .contact__header {
    height: var(--height-header-1440);
  }

  .contact__main {
    height: var(--height-section-100vh-1440);
  }
}
