/**
* Banner
**/

.banner {
  position: relative;
  height: var(--height-section-1080-proportion);
  background-color: var(--color-gray-5-mainbg);
  display: grid;
  grid-template-rows: 24.94% 32.36% 4.67% auto 24px 48px;
  grid-template-columns: 30.22% 11.48% 10.22% 11.59% 31.21% 96px;
  overflow: hidden;
}

.banner__container {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 5;
}

.banner__content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 5;
}

.content__img {
  width: 33.29%;
  height: 100%;
  margin: 0 auto;
}

.content__img img {
  width: 100%;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: -webkit-filter 0.8s ease-in;
       -o-transition: filter 0.8s ease-in;
          transition: filter 0.8s ease-in;
}

.metto {
  position: relative;
  top: 13%;
  -webkit-transition: -webkit-filter 0.8s ease-in;
       -o-transition: filter 0.8s ease-in;
          transition: filter 0.8s ease-in;
}

.content__text {
  position: absolute;
  width: 33.3%;
  top: 23%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

.content__text p {
  width: 100%;
  font-family: var(--font-sflight);
  font-size: 18px;
  color: var(--color-black-5-text);
  line-height: 1.2em;
  padding-bottom: 20px;
  letter-spacing: 0.02em;
}

.banner__content:hover .content__text {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.banner__content:hover .content__img img {
  filter: blur(10px);
  -webkit-transition: -webkit-filter 0.8s ease-in;
       -o-transition: filter 0.8s ease-in;
          transition: filter 0.8s ease-in
}

.banner__content:hover .content__img img.metto {
  visibility: hidden;
  -webkit-transition: -webkit-filter 0.8s ease-in;
       -o-transition: filter 0.8s ease-in;
          transition: filter 0.8s ease-in;
}

.see-more p {
  color: var(--color-black-5-text);
  text-align: center;
  margin-top: 60%;
  letter-spacing: 2px;
}

.arrow-down {
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.banner__social {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 6;
  justify-self: end;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner__social--icons {
  width: 240px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.linkedin__container,
.bird__container,
.fish__container,
.tv__container {
  width: 60px;
  height: 24px;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
       -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
}

.linkedin__container svg,
.bird__container svg,
.fish__container svg,
.tv__container svg {
  padding-left: 36px;
  width: 24px;
  height: 24px;
  position: relative;

}

.banner__linkedin path {
  fill: var(--color-black-5-text);
  -webkit-transition: 0.5s ease-in-out;
       -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
}

.banner__bird path,
.banner__fish path,
.banner__tv path {
  fill: var(--color-gray-2-socialmedia);
  -webkit-transition: 1s ease-in-out;
       -o-transition: 1s ease-in-out;
          transition: 1s ease-in-out;
}

.linkedin__container:hover .banner__linkedin path {
  fill: var(--color-yellow-1-main);
  -webkit-transition: 0.5s ease-in-out;
       -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
}

.banner__bird:hover path,
.banner__fish:hover path,
.banner__tv:hover path {
  fill: var(--color-black-7-socialMedia);
  -webkit-transition: 0.5s ease-in-out;
       -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
}

.banner__linkedin--hover,
.banner__bird--hover,
.banner__fish--hover,
.banner__tv--hover {
  position: relative;
  width: 237px;
  top: -149px;
  left: -70px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
       -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
}

.banner__tv--hover {
  left: -105px;
}

.linkedin__container:hover a .banner__linkedin--hover,
.bird__container:hover .banner__bird--hover,
.fish__container:hover .banner__fish--hover,
.tv__container:hover .banner__tv--hover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
       -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
}

@media (max-width: 1679px) {
  .content__text p {
    font-size: 16px;
  }

  .see-more p {
    margin-top: 40%;
  }
}

/**
* About
**/

.about {
  height: var(--height-section-1080-proportion);
  background-color: var(--color-black-1-homebg);
  position: relative;
  display: grid;
  grid-template-rows: 1fr 440px 1fr;
  grid-template-columns: 1fr 750px 1fr;
  overflow: hidden;
}

.about__container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  position: relative;
    -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.about__container img {
  width: 750px;
  height: 440px;
  z-index: -1;
}

.about__content {
  width: 100%;
  height: 40px;/*100%;*/
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 160px;
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.about__content h2 {
  font-size: 36px;
  line-height: 100px;
	-webkit-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
}

.about__content p {
  width: 480px;
  margin: 0 auto;
  font-family: var(--font-sfultralight);
  color: var(--color-gray-1-footertext);
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 0px;
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
          transition: opacity 1s, -webkit-transform 1s;
       -o-transition: opacity 1s, transform 1s;
          transition: opacity 1s, transform 1s;
          transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.about__container:hover img {
  opacity: 0.38;
  background-color: #020202;
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.about__container:hover .about__content {
  height: 100%;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.about__container:hover .about__content p {
  opacity: 1;
  -webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
  -webkit-transition: opacity 2s, transform 1s;
       -o-transition: opacity 2s, transform 1s;
          transition: opacity 2s, transform 1s;
}

.about__more {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 55%;
  margin: 0 auto;
  margin-top: 60px;
}

.about__more p {
  width: 45%;
  margin: 0;
  text-align: start;
}

.about__more p.about__more--p {
  width: 55%;
  padding-right: 10px;
  text-align: end;
}

@media (max-width: 1440px) {
  .about {
    grid-template-rows: 1fr 352px 1fr;
    grid-template-columns: 1fr 600px 1fr;
  }

  .about__container img {
    width: 600px;
    height: 352px;
  }

  .about__content {
    top: 135px;
  }

  .about__content p {
    width: 380px;
    font-size: 14px;
  }
  
  .about__container:hover .about__content {
    -webkit-transform: translateY(-105px);
        -ms-transform: translateY(-105px);
            transform: translateY(-105px);
  }

  .about__content h2 {
    font-size: 32px;
  }

  .about__content .about__more p.about__more--p {
    width: 55%;
  }

  .about__more p {
    width: 45%;
  }
}

/**
* Portfolio Section
**/

.logo,
.print,
.vi {
  height: var(--height-section-1080-proportion);
  background-color: var(--color-black-1-homebg);
  position: relative;
  display: grid;
  grid-template-rows: 23.56% 24.38% 14% 24.38% auto;
  grid-template-columns: 8.96% 21.21% auto 3.74% 3.74% 11.59% 35% 1.7% 7.86%;
  /*grid-template-rows: 23.56% 21.94% 12.59% 21.94% auto;*/
  /*grid-template-columns: 8.96% 21.21% 5.99% 3.9% 3.57% auto 36.65% 1.65% 7.86%;*/
  overflow: hidden;
}

.logo,
.vi {
  width: 100%;
  background-image: url("../images/homepage/logobg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio__bg {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 7;
  grid-column-end: 9;

  width: 100%;
  height: auto;
  background-image: url("../images/homepage/text_bg.png");
  background-size: 100%;
  opacity: 0.52;
}

.portfolio__content {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}

.portfolio__content h2 {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 50px;
  position: relative;
  text-align: left;
}

.portfolio__content p {
  width: 100%;
  font-family: var(--font-sfultralight);
  color: var(--color-gray-1-footertext);
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  margin-top: 24px;
}

.portfolio__photo {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 5;
  grid-column-end: 8;
  z-index: 2;
}

.portfolio__photo img {
  height: 100%;
  background-color: var(--color-black-1-homebg);
  z-index: 3;
  object-fit: cover;
}

.portfolio__more {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 6;
  justify-content: flex-end;
  text-align: right;
  position: relative;
  z-index: 5;
}

.portfolio__more::after {
  content: "";
  display: block;
  padding-right: 100%;
}

.portfolio__more span{
  font-family: var(--font-span);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  margin-right: 17px;
  text-align: right;
  position: relative;
  top: -45%;
}

/* for Sarfari */
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
    .portfolio__more span{
      font-family: var(--font-span);
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0;
      margin-right: 17px;
      text-align: right;
      position: absolute;
      top: 35%;
      right: 50%;
    }
  }
}

.portfolio__more--img {
  height: 100%;
  opacity: 1;
  z-index: 5;
  position: relative;
  right: 0;
}

@media (max-width: 1440px) {
  .portfolio__content h2 {
    font-size: 40px;
    line-height: 40px;
  }
  
  .portfolio__content p {
    font-size: 12px;
    margin-top: 20px;
  }
}


@media (max-width: 992px) {
  .portfolio__content h2 {
    font-size: 28px;
    line-height: 28px;
  }
  
  .portfolio__content p {
    font-size: 8px;
    margin-top: 16px;
  }
}

[data-aos="new-animation"] {
  opacity: 1;
  transition-property: transform, opacity;
}

[data-aos="new-animation"].aos-animate {
  opacity: 1;
}

@media screen and (max-width: 1980px) {
  [data-aos="new-animation"] {
    transform: translateX(-50px);
  }

  [data-aos="new-animation"].aos-animate {
    transform: translateX(0);
  }
}



/**
* Mail
**/

.mail {
  height: var(--height-section-1080-proportion);
  background-color: var(--color-yellow-1-main);
  position: relative;
}

.mail__container{
  width: 500px;
  height: 185px;
  position: relative;
  top: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.mail__container a {
  margin: 0 auto;
}

.mail__container a svg {
  width: 128px;
  height: 86px;
  fill: var(--color-yellow-3-dark);
}

.mail-icon{
  width: 128px;
  height: 86px;
  fill: var(--color-white);
}

.mail__content {
  position: relative;
  margin: 0 auto;
  margin-top: 54px;
  background-color: var(--color-black-5-text);
  font-family: var(--font-sfthin);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 11px;
  padding: 9px 31px 11px 32px;
}

.mail__content--active::before {
  content: '';
  position: absolute;
  top: -5px;
  
  height: 120%;
  background: var(--color-yellow-1-main);
  -webkit-animation: animate 2s linear forwards;
     -moz-animation: animate 2s linear forwards;
       -o-animation: animate 2s linear forwards;
          animation: animate 2s linear forwards;
}

@-webkit-keyframes animate {
  0% {
    left: 10%;
    width: 100%;
  }
  25% {
    left: 32.5%;
    width: 80%;
  }
  50% {
    left: 55%;
    width: 50%;
  }
  75% {
    left: 77.5%;
    width: 30%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@-moz-keyframes animate {
  0% {
    left: 10%;
    width: 100%;
  }
  25% {
    left: 32.5%;
    width: 80%;
  }
  50% {
    left: 55%;
    width: 50%;
  }
  75% {
    left: 77.5%;
    width: 30%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@-ms-keyframes animate {
  0% {
    left: 10%;
    width: 100%;
  }
  25% {
    left: 32.5%;
    width: 80%;
  }
  50% {
    left: 55%;
    width: 50%;
  }
  75% {
    left: 77.5%;
    width: 30%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@-o-keyframes animate {
  0% {
    left: 10%;
    width: 100%;
  }
  25% {
    left: 32.5%;
    width: 80%;
  }
  50% {
    left: 55%;
    width: 50%;
  }
  75% {
    left: 77.5%;
    width: 30%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@keyframes animate {
  0% {
    left: 10%;
    width: 100%;
  }
  25% {
    left: 32.5%;
    width: 80%;
  }
  50% {
    left: 55%;
    width: 50%;
  }
  75% {
    left: 77.5%;
    width: 30%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}


/**
/* Contact
**/

.contact {
  position: relative;
  height: var(--height-section-1080-proportion);
  background-color: var(--color-black-1-homebg);
  display: grid;
  grid-template-columns: 46.15% 15.38% 38.46%;
}

.contact__form {
  grid-column-start: 1;
  grid-column-end: 2;

  display: grid;
  grid-template-rows: 10.56% 5.56% 3.89% auto 12.22%;
  grid-template-columns: 21.43% 78.57%;
}

.contact__form h2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 60px;
  margin: 0;
}

form {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

.form__inputBox {
  width: 100%;
  height: 138px;
  position: relative;
  font-family: var(--font-sfthin);
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 200;
  display: flex;
  flex-direction: column;
}

.form__inputBox label {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form__inputBox label p {
  color: var(--color-red-error);
  visibility: hidden;
}

.form__inputBox .name__invalid  p,
.form__inputBox .email__invalid  p,
.form__inputBox .message__invalid  p {
  visibility: visible;
}

.form__inputBox--textarea {
  height: 240px;
}

.form__inputBox input,
.form__inputBox textarea {
  width: calc(100% - 42px);
  height: 60px; 
  padding: 20px;
  font-family: var(--font-sflight);
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 40px;
  border: 0.5px solid var(--color-black-3-formBorder);
  background-color: var(--color-black-1-homebg);
  outline: none;
  resize: none;
  border-radius: 4px;
  color: var(--color-white);
  letter-spacing: 0;
  font-weight: 200;
}

.form__inputBox input::placeholder,
.form__inputBox textarea::placeholder {
  font-family: var(--font-sflight);
  font-size: 20px;
  color: var(--color-black-4-leftNav);
  letter-spacing: 0;
  font-weight: 200;
}

.form__inputBox input:focus,
.form__inputBox textarea:focus {
  border: 1px solid var(--color-yellow-1-main);
}

.form__inputBox:focus-within {
  color: var(--color-yellow-1-main);
}

.form__inputBox textarea {
  height: 210px;
}

.form__inputBox input.error, 
.form__inputBox textarea.error {
  border: 1px solid var(--color-red-error);
}

.form__inputBox input.success, 
.form__inputBox textarea.success {
  background: var(--color-black-2-footerbg);
  border: 1px solid var(--color-black-3-formBorder);
}

.submit {
  width: 200px;
  height: 56px;
  background-color: var(--color-yellow-4-contactdark);
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  font-family: var(--font-secondary);
  font-size: 20px;
  color: var(--color-yellow-5-invalidText);
  letter-spacing: 0.3px;
  -webkit-transition: 0.3s linear;
       -o-transition: 0.3s linear;
          transition: 0.3s linear;
}

.submit__success {
  width: 260px;
  height: 72px;
  background-color: var(--color-yellow-1-main);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  font-family: var(--font-sfmedium);
  font-size: 24px;
  color: var(--color-black-6-validText);
  letter-spacing: 0.26px;
  font-weight: 500;
  -webkit-transition: 0.3s linear;
       -o-transition: 0.3s linear;
          transition: 0.3s linear;
}

@media (max-width: 1679px) {
  .contact {
    height: var(--height-section-1080-proportion-1440);
  }
  
  .contact__form h2 {  
    font-size: 45px;
    line-height: 45px;
  }
  
  .form__inputBox {
    height: 108.75px;
    font-size: 12px;
  }
  
  .form__inputBox--textarea {
    height: 225px;
  }
  
  .form__inputBox input,
  .form__inputBox textarea {
    height: 54px;
    font-size: 20px;
    margin-top: 12.25px;
    margin-bottom: 28.5px;
  }
  
  .form__inputBox input::placeholder,
  .form__inputBox textarea::placeholder {
    font-size: 20px;
  }
  
  .form__inputBox input:focus,
  .form__inputBox textarea:focus {
    border: 0.75px solid var(--color-yellow-1-main);
  }
  
  .form__inputBox textarea {
    height: 157.5px;
  }
  
  .submit {
    width: 195px;
    height: 54px;
    font-size: 18px;
  }
  
  .submit__success {
    width: 195px;
    height: 54px;
    font-size: 18px;
    letter-spacing: 0.19px;
  }
}

@media (max-width: 1300px) {
  .contact {
    height: 62vw;
  }
}

@media (max-width: 992px) {
  .contact {
    height: 75vw;
  }
}

.contact__info {
  grid-column-start: 3;
  grid-column-end: 4;

  display: grid;
  grid-template-rows: 23.41% 24px 2.34% 29px 10.24% 24px 2.34% 29px 10.24% 24px 2.34% auto 8.595% 6.15vw;
  grid-template-columns: auto 12.57% 6.15vw;
}

.contact__info p {
  padding-bottom: 20px;
  font-family: var(--font-sfthin);
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 200;
}

.contact__info span a {
  font-family: var(--font-secondary);
  font-size: 18px;
  color: var(--color-yellow-4-contactdark);
  letter-spacing: 0;
  font-weight: 400;
  position: relative;
}

.contact__info span a:before {
  content: "";
  height: 1px;
  position: absolute;
  top: 26px;
  left: 0;
  background-color: var(--color-yellow-1-main);
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.contact__info .info__email--span a:before {
  width: 210px;
}

.contact__info .info__phone--span a:before {
  width: 160px;
}

.contact__info span:hover a {
  color: var(--color-yellow-1-main);
}

.contact__info span:hover a:before {
  opacity: 1;
  transform: scaleX(1);
}

.info__email--p {
  grid-row-start: 2;
  grid-row-end: 3;
}

.info__email--span {
  grid-row-start: 4;
  grid-row-end: 5;
}

.info__phone--p {
  grid-row-start: 6;
  grid-row-end: 7;
}

.info__phone--span {
  grid-row-start: 8;
  grid-row-end: 9;
}

.info__social--p {
  grid-row-start: 10;
  grid-row-end: 11;
}

.sci {
  grid-row-start: 12;
  grid-row-end: 13;
}

.go-top {
  grid-row-start: 13;
  grid-row-end: 14;
  grid-column-start: 2;
  grid-column-end: 3;
}

.go-top img {
  width: 100%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1679px) {
  .contact__info p {
    padding-bottom: 18px;
    font-size: 15px;
  }
  
  .contact__info span a {
    font-size: 18px;
  }

  .contact__info .info__email--span a:before {
    width: 210px;
  }
  
  .contact__info .info__phone--span a:before {
    width: 160px;
  }
}