/**
* Banner
**/

.banner {
  position: relative;
  height: var(--height-section-100vh);
  background-color: var(--color-white-02);
  display: grid;
  grid-template-rows: 24.94% 32.36% 4.67% auto 24px 48px;
  grid-template-columns: 30.22% 11.48% 10.22% 11.59% 31.21% 96px;
}

.banner__container {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 5;
}

.banner__content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 5;
}

.content__img {
  width: 33.29%;
  height: 100%;
  margin: 0 auto;
}

.content__img img {
  width: 100%;
  filter: blur(0px);
  transition: filter 0.8s ease-in;
}

.metto {
  position: relative;
  top: 13%;
  transition: filter 0.8s ease-in;
}

.content__text {
  position: absolute;
  width: 33.3%;
  top: 23%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-in;
}

.content__text p {
  width: 100%;
  font-family: var(--font-sflight);
  font-size: 18px;
  color: var(--color-black-10);
  line-height: 1.2em;
  padding-bottom: 20px;
  letter-spacing: 0.02em;
}

.banner__content:hover .content__text {
  opacity: 1;
  transform: translateY(0);
}

.banner__content:hover .content__img img {
  filter: blur(10px);
  transition: filter 0.8s ease-in;
}

.banner__content:hover .content__img img.metto {
  visibility: hidden;
  transition: filter 0.8s ease-in;
}

.see-more p {
  color: var(--color-black-10);
  text-align: center;
  margin-top: 60%;
  letter-spacing: 2px;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  position: relative;
}

.banner__social {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 6;
  justify-self: end;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner__social-icons {
  width: 240px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.linkedin__container,
.bird__container,
.fish__container,
.tv__container {
  width: 60px;
  height: 24px;
  position: relative;
}

.linkedin__container svg,
.bird__container svg,
.fish__container svg,
.tv__container svg {
  padding-left: 36px;
  width: 24px;
  height: 24px;
  position: relative;
}

.banner__linkedin path {
  fill: #333;
}

.banner__bird path,
.banner__fish path,
.banner__tv path {
  fill: #CCC;
}

.linkedin__container:hover .banner__linkedin path {
  fill: #FFC512;
}

.banner__bird:hover path,
.banner__fish:hover path,
.banner__tv:hover path {
  fill: #888;
}

.banner__linkedin-hover,
.banner__bird-hover,
.banner__fish-hover,
.banner__tv-hover {
  position: relative;
  width: 237px;
  top: -149px;
  left: -70px;
  visibility: hidden;
}

.linkedin__container:hover a .banner__linkedin-hover,
.bird__container:hover .banner__bird-hover,
.fish__container:hover .banner__fish-hover,
.tv__container:hover .banner__tv-hover {
  visibility: visible;
}

@media (max-width: 1300px) {
  .content__text p {
    font-size: 16px;
  }

  .see-more p {
    margin-top: 40%;
  }
}



/**
* About
**/

.about {
  height: var(--height-section-100vh);
  background-color: var(--color-black-01);
  position: relative;
  display: grid;
  grid-template-rows: 1fr 68.52% 1fr;
  grid-template-columns: 1fr 54.95% 1fr;
  overflow: hidden;
}

.about__container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  background-image: url("../images/homepage/about.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about__content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  transform: translateY(calc(50% - 50px));
  -webkit-transform: translateY(calc(50% - 50px));
  transition: 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}

.about__content h2 {
  font-size: 40px;
  line-height: 100px;
	transition: 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}

.about__content p {
  width: 55%;
  margin: 0 auto;
  font-family: var(--font-secondary);
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 20px;
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
}

.about__content:hover {
	transform: translateY(25%);
  -webkit-transform: translateY(25%));
  transition: 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}

.about__content:hover p,
.about__content:hover a {
  opacity: 1;
	transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}

.about__content a {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 55%;
  margin: 0 auto;
  margin-top: 60px;
}

.about__content a p {
  width: 45%;
  margin: 0;
  text-align: start;
}

.about__content a p.about__more {
  width: 55%;
  padding-right: 10px;
  text-align: end;
}


/**
* Portfolio Section
**/

.logo,
.print,
.vi {
  height: 53.41vw;
  background-color: var(--color-black-03);
  position: relative;
  display: grid;
  grid-template-rows: 23.56% 21.94% 12.59% 21.94% auto;
  grid-template-columns: 8.96% 21.21% 5.99% 3.9% 3.57% auto 36.65% 1.65% 7.86%;
  overflow: hidden;
}

.portfolio__bg {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 7;
  grid-column-end: 8;
}

.portfolio__bg img {
  width: 100%;
  height: auto;
  opacity: 0.52;
}

.portfolio__content {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}

.portfolio__content h2 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 96px;
  position: relative;
  text-align: left;
}

.portfolio__content p {
  width: 90%;
  font-family: var(--font-sfthin);
  font-size: 16px;
  line-height: 26px;
  font-weight: 200;
  margin-top: 24px;
}

.portfolio__photo {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 5;
  grid-column-end: 9;
}

.portfolio__photo img {
  width: 100%;
  background-color: var(--color-black-01);
  opacity: 0.38;
}

.portfolio__more {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 6;
  justify-content: flex-end;
  text-align: right;
}

.portfolio__more span{
  font-family: var(--font-span);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  margin-right: 17px;
  text-align: right;
  position: relative;
  top: -45%;
}

.portfolio__more-img {
  height: 100%;
  opacity: 1;
  z-index: 2;
  position: relative;
  right: 0;
}


/**
* Mail
**/

.mail {
  height: 53.41vw;
  background-color: var(--color-yellow-03);
  position: relative;
}

.mail__container{
  width: 500px;
  height: 185px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mail__container a {
  margin: 0 auto;
}

.mail__container a img {
  width: 128px;
  height: 86px;
}

.mail-icon{
  width: 128px;
  height: 86px;
  fill: #fff;
}

.mail__content {
  position: relative;
  margin: 0 auto;
  margin-top: 54px;
  background-color: var(--color-black-10);
  font-family: var(--font-span);
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
  margin-bottom: 11px;
  padding: 9px 31px 11px 32px;
}

.mail__content::before {
  content: '';
  position: absolute;
  top: -5px;
  
  height: 120%;
  background: var(--color-yellow-03);
  animation: animate 2s linear forwards;
}

@keyframes animate {
  0% {
    left: 10%;
    width: 88%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}


/**
/* Contact
**/

.contact {
  position: relative;
  height: 53.41vw;
  background-color: var(--color-black-02);
  display: grid;
  grid-template-columns: 46.15% 15.38% 38.46%;
  overflow: hidden;
}

.contact__form {
  grid-column-start: 1;
  grid-column-end: 2;

  display: grid;
  grid-template-rows: 10.56% 5.56% 3.89% auto 12.22%;
  grid-template-columns: 21.43% 78.57%;
}

.contact__form h2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 60px;
  margin: 0;
}

form {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

.form__inputBox {
  width: 100%;
  height: 20.31%;
  position: relative;
  font-family: var(--font-sfthin);
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
}

.form__inputBox-textarea {
  height: 46.88%;
}

.form__inputBox input,
.form__inputBox textarea {
  width: 100%;
  height: 51.1%;
  padding: 5px 10px;;
  font-size: 20px;
  margin-top: 2.73%;
  margin-bottom: 2.88%;
  border: 1px solid var(--color-black-07);
  background-color: var(--color-black-02);
  outline: none;
  resize: none;
  color: var(--color-white-01);
  border-radius: 4px;
}

.form__inputBox input:focus,
.form__inputBox textarea:focus {
  border: 1px solid #FFC512;
}

.form__inputBox textarea {
  height: 64.46%;
}

.submit {
  width: 260px;
  height: 80px;
  background-color: var(--color-yellow-02);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s linear;
  border-radius: 4px;
  font-family: var(--font-sfmedium);
  font-size: 28px;
  color: var(--color-black-11);
  letter-spacing: 0.3px;
}

.contact__info {
  grid-column-start: 3;
  grid-column-end: 4;

  display: grid;
  grid-template-rows: 23.41% 24px 2.34% 29px 10.24% 24px 2.34% 29px 10.24% 24px 2.34% auto 8.595% 112px;
  grid-template-columns: auto 12.57% 112px;
}

.contact__info p {
  padding-bottom: 20px;
  font-family: var(--font-sfthin);
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 200;
}

.contact__info span {
  font-family: var(--font-secondary);
  font-size: 24px;
  color: var(--color-yellow-02);
  letter-spacing: 0;
  font-weight: 400;
}

.info__email-p {
  grid-row-start: 2;
  grid-row-end: 3;

}

.info__email-span {
  grid-row-start: 4;
  grid-row-end: 5;
}

.info__phone-p {
  grid-row-start: 6;
  grid-row-end: 7;
}

.info__phone-span {
  grid-row-start: 8;
  grid-row-end: 9;
}

.info__social-p {
  grid-row-start: 10;
  grid-row-end: 11;
}

.sci {
  grid-row-start: 12;
  grid-row-end: 13;
}

.go-top {
  grid-row-start: 13;
  grid-row-end: 14;
  grid-column-start: 2;
  grid-column-end: 3;
}

.go-top img {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}