/**
* Layout
**/

.layout {
  width: 100%;
  height: 56.25vw;
  display: grid;
  grid-template-rows: 108px auto;
  grid-template-columns: 100px auto;
  /*overflow-x: hidden;*/
}


/**
* Left Side Navigation
**/

nav {
  background: var(--color-black3-leftnav);
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  width: var(--width-left-nav);
  height: var(--height-section-100vh);
  top: var(--height-header);
  position: fixed;
}

.nav__left {
  width: var(--height-section-100vh);
  height: var(--width-left-nav);
  position: fixed;
  top: var(--height-header);
  left: 0;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
  background: var(--color-black3-leftnav);
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg)translateX(-100%);
  -moz-transform-origin: left top;
  -moz-transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  z-index: 1;
}

.nav__left ul {
  width: 526.96px;
  height: 21px;
  position: relative;
  top: 38.5px;
  margin: 0 calc((var(--height-section-100vh) - 526.96px) / 2);
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}

.nav__left ul li {
  padding-left: 111.6px;
  position: relative;
  display: inline;
  float: right;
  height: 100%;
}

.nav__left ul li.nav__left-noPadding {
  padding-left: 0;
}

.nav__left ul li a {
  font-family: var(--font-secondary);
  font-size: 18px;
  color: var(--color-white);
  letter-spacing: 3.02px;
  text-transform: uppercase;
  line-height: 21px;
  width: 21px;
}

.nav__left ul li:hover a {
  color: var(--color-yellow1-main);
}

@media (max-width: 1200px) {
  .nav__left {
    width: var(--height-section-100vh);
    height: var(--width-left-nav);
    position: fixed;
    top: var(--height-header);
    left: 0;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #2B2B2B;
    -webkit-transform-origin: left top;
    -webkit-transform: rotate(-90deg)translateX(-100%);
    -moz-transform-origin: left top;
    -moz-transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
    z-index: 1;
  }

  .nav__left ul {
    width: 483.76px;
    margin: 0 calc((var(--height-section-100vh) - 483.76px) / 2);
  }

  .nav__left ul li {
    padding-left: 90px;
  }
}


/**
* Right Side Navigation
**/

aside {
  width: 13px;
  height: 540px;
  position: fixed;
  top: 220px;
  right: 52px;
  z-index: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

aside ul li {
  height: 50px;
  margin-bottom: 5px;
  cursor: default;
}

aside ul li p {
  visibility: hidden;
}

.active {
  width: 3px;
  height: 50px;
  background-color: var(--color-black-09);
}


/**
* Header
**/

/* Homepage */
.header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100vw;
  height: 108px;
  position: fixed;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  z-index: 5;
}

/* Logo */
.header__russell-logo {
  width: var(--width-homepage-russell-logo);
  height: var(--height-header);
}

.header__russell-logo img {
  width: 354px;
  height: 100%;
}

.header__russell-logo h1 {
  font-size: 28px;
  color: var(--color-black4-text);
  display: flex;
  flex-direction: row;
  letter-spacing: 0;
  line-height: 33px;
  margin: 36px 0 39px 0;
}

.header__russell-logo h1 span {
  font-size: 28px;
  letter-spacing: 4.06px;
}

/* Overlay Menu Btn*/
.header__overlay-menu {
  position: absolute;
  z-index: 999;
  right: 0;
}

.openbtn {
  width: 72px;
  height: 49px;
  cursor: pointer;
  position: relative;
  top: var(--size-overlay-btn-position);
  right: var(--size-overlay-btn-position);
  fill: #333333;
}

/* About, Logo, VI, Print Header */
.header__logo {
  background-color: var(--color-yellow1-main) !important;
}

.header__print {
  background-color: var(--color-gray2-socialmedia) !important;
}

.header__vi {
  background-color: var(--color-white) !important;
}


/* Logo */
.gear-logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  width: 100px;
  height: 108px;
  background-color: var(--color-black-06);
}

.gear-logo img {
  width: var(--size-gear-logo);
  height: var(--size-gear-logo);
  margin: calc(50% - var(--size-gear-logo) / 2) calc(50% - var(--size-gear-logo) / 2);
}

/* Back to home */
.go-back {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.go-back a {
  padding-top: 15px;
}

.go-back a img {
  width: var(--size-go-back);
  height: var(--size-go-back);
  position: relative;
  top: 30px;
  left: 64px;
}

.go-back p {
  font-family: var(--font-sfbold);
  font-size: 20px;
  color: var(--color-black4-text);
  letter-spacing: 0;
  position: relative;
  padding-top: 60px;
  left: 84px;
}

.portfolio__nav {
  height: 40px;
  position: relative;
  top: 52.7px;
  left: 154px;
}

.portfolio__nav a {
  font-family: var(--font-sfbold);
  font-size: 20px;
  color: var( --color-black3-leftnav);
  letter-spacing: 0;
  line-height: 40px;
  margin-right: 57px;
}

.current__page {
  padding-bottom: 10px;
  border-bottom: 4px solid var(--color-black-10);
}


/**
* Main
**/

main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}


/**
* Footer
**/

.footer {
  position: relative;
  width: 100%;
  height: 31.04vw;
  background-color: var(--color-black2-footerbg);
  display: grid;
  grid-template-rows: 20.47% 57.38% 8.56% 3.19% 10.4%;
  /*grid-template-columns: 7.69% 30.4% 22.6% 20.79% 10.11% 7.69%;*/
  grid-template-columns: 7.69% auto 22.6% 20.79% 184px 7.69%;
}

@media (max-width: 1200px) {
  .footer {
    height: 45vw;
    grid-template-columns: 7.69% auto 20% 20% 184px 7.69%;
  }

  .links h3 {
    font-size: 20px;
  }
  
  .links ul li a {
    font-size: 12px;
  }
}

.link__RLD {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  border-bottom: 1px solid var(--color-gray1-footertext);
}

.link__work {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  border-bottom: 1px solid var(--color-gray1-footertext);
}

.link__social {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  border-bottom: 1px solid var(--color-gray1-footertext);
}

.link__contact {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
  border-bottom: 1px solid var(--color-gray1-footertext);
}

.links h3 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--color-gray1-footertext);
}

.links ul li {
  padding-bottom: 21px;
}

.links ul li a {
  font-family: var(--font-sflight);
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-gray1-footertext);
}

.copyright {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-sfthin);
  font-size: 16px;
  color: var(--color-gray1-footertext);
  letter-spacing: 0;
  font-weight: 200;
}


/** 
* Social Media Icons
**/

.sci {
  position: relative;
  display: flex;
  flex-direction: row;
}

.sci ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.sci ul li {
  padding-right: 44px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
}

.linkedin svg path {
  fill: #FFC512;
}

.bird svg path, 
.fish svg, 
.tv svg {
  fill: #333;
}

.bird:hover svg path, 
.fish:hover svg, 
.tv:hover svg {
  fill: #888;
}

.sci ul li div img {
  position: relative;
  width: 237px;
  left: -103px;
  visibility: hidden;
}

.sci ul li div:hover img {
  visibility: visible;
}


/**
/* Overlay Menu
**/

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #191919;
  overflow-x: hidden;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 10000;
  cursor: pointer;
  opacity: 0;
  transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -webkit-transition: opacity .7s ease-in-out;
}

.active {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.overlay a {
  padding: 10px;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  width: 41.7px;
  height: 41.7px;
  position: absolute;
  top: 52.1px;
  right: 66px;
  font-size: 70px;
  font-weight: lighter;
  z-index: 999;
}

.closebtn svg {
  fill: #333;
}

.overlay__content {
  position: relative;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 998;
}

.menu__item {
  position: relative;
  width: 62.083vw;
  text-align: left;
  background-color: var(--color-black2-footerbg);
  display: grid;
  grid-template-rows: 33.61% auto 33.52%;
  grid-template-columns: 23.74% auto;  
}

.menu__links {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.menu__links a {
  width: 300px;
  font-size: 40px;
  letter-spacing: -0.62px;
  opacity: 0.1;
  padding: 42.5px 0;
  color: #333333;
  font-weight: 900;
}

.menu__item a:hover {
  color: #FFC512;
  font-size: 60px;
  letter-spacing: -0.93px;
  padding: 32.5px 0;
}

.menu__contact {
  position: relative;
  width: 37.917%;
  background-color: #FFC512;
  display: grid;
  grid-template-rows: 44.44% 120px auto;
  grid-template-columns: 35.99% auto;  
}

.menu__contact-content {
  position: relative;
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.menu__contact-content p {
  padding-bottom: 20px;
  font-family: var(--font-sfthin);
  font-size: 20px;
  color: #333;
  letter-spacing: 0.82px;
}

.menu__contact-content .contact__content-spacing {
  letter-spacing: -0.31px;
}

.menu__contact-content .sci {
  width: 221.9px;
  margin-top: 12px;
}

.sci .menu__sci li {
  padding-right: 48.26px;;
  width: 20px;
  height: 20px;
}

.sci .menu__sci li div img {
  left: -110px;
}
