/**
* Layout
**/

.layout {
  width: 100vw;
  height: 100vh;
}


/**
* Left Side Navigation
**/

nav {
  background: var(--color-black-4-leftNav);
  width: var(--width-left-nav);
  height: var(--height-section-100vh);
  top: var(--height-header);
  position: fixed;
}

.nav__left {
  width: var(--height-section-100vh);
  height: var(--width-left-nav);
  position: fixed;
  top: var(--height-header);
  left: 0;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
  background: var(--color-black3-leftnav);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
      -ms-transform: rotate(-90deg) translateX(-100%);
          transform: rotate(-90deg) translateX(-100%);
  z-index: 1;
}

.nav__left ul {
  width: 498px;
  height: 21px;
  position: relative;
  top: 38.5px;
  margin: 0 calc((var(--height-section-100vh) - 498px) / 2);
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}

.nav__left ul li {
  padding-left: 111.6px;
  position: relative;
  display: inline;
  float: right;
  height: 100%;
  transition: all 0.4s ease;
}

.nav__left ul li:last-child {
  padding-left: 0;
}

.nav__left ul li a {
  width: 21px;
  font-family: var(--font-secondary);
  font-size: 16px;
  color: var(--color-white);
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 22px;
   -webkit-transition: 0.5s;
    -o-transition: 0.5s;
      transition: 0.5s;
}

.nav__left ul li:hover a {
  color: var(--color-yellow-1-main);
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.nav__left ul li a.current__nav {
  color: var(--color-yellow-1-main);
}

@media (max-width: 1679px) {
  nav {
    width: var(--width-left-nav-1440);
    height: var(--height-section-100vh-1440);
    top: var(--height-header-1440);
  }
  
  .nav__left {
    width: var(--height-section-100vh-1440);
    height: var(--width-left-nav-1440);
    top: var(--height-header-1440);
  }
  
  .nav__left ul {
    margin: 0 calc((var(--height-section-100vh-1440) - 526.96px) / 2);
    top: 27.5px;
  }

  .nav__left ul li a {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .nav__left ul {
    width: 483.76px;
    margin: 0 calc((var(--height-section-100vh) - 483.76px) / 2);
  }

  .nav__left ul li {
    padding-left: 90px;
  }
}


/**
* Right Side Navigation
**/

aside {
  width: 13px;
  height: 540px;
  position: fixed;
  top: calc(50vh - 270px);
  right: 52px;
  z-index: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.line {
  width: 3px;
  height: 100%;
  position: relative;
}

#line-index,
#line-about {
  width: 3px;
  position: relative;
  background-color: var(--color-black-4-leftNav);
}

@media (max-width: 1679px) {
  aside {
    width: 8px;
    height: 345px;
    position: fixed;
    top: calc(50vh - 172.5px);
    right: 32px;
  }
}


/**
* Header
**/

/* Homepage */
.header {
  width: 100vw;
  height: var(--height-header);
  position: fixed;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  z-index: 5;
}

@media (max-width: 1679px) {
  .header {
    height: var(--height-header-1440);
  }
}

/* Homepage Logo */
.header__russell--logo {
  width: var(--width-homepage-russell-logo);
  height: var(--height-header);
}

.header__russell--logo img {
  width: var(--width-homepage-russell-logo);
  height: 100%;
}

.header__russell--logo h1 {
  font-size: 28px;
  color: var(--color-black-5-text);
  display: flex;
  flex-direction: row;
  letter-spacing: 0;
  line-height: 33px;
  margin: 36px 0 39px 0;
}

.header__russell--logo h1 span {
  font-size: 28px;
  letter-spacing: 4.06px;
}

@media (max-width: 1679px) {
  .header__russell--logo {
    width: var(--width-homepage-russell-logo-1440);
    height: var(--height-header-1440);
  }
  
  .header__russell--logo img {
    width: var(--width-homepage-russell-logo-1440);
  }
}

/* Overlay Menu Btn*/
.header__overlay--menu {
  position: absolute;
  z-index: 999;
  right: 0;
}

.openbtn {
  width: 72px;
  height: 49px;
  cursor: pointer;
  position: relative;
  top: var(--size-overlay-btn-position);
  right: var(--size-overlay-btn-position);
  fill: var(--color-black-5-text);
}

@media (max-width: 1679px) {
  .openbtn {
    top: 36px;
    right: 36px;
  }
}

/* Logo */
.gear-logo {
  position: relative;
  width: var(--width-left-nav);
  height: var(--height-header);
  background-color: var(--color-black-4-leftNav);
}

.gear-logo img {
  width: var(--size-gear-logo);
  height: var(--size-gear-logo);
  margin: calc(56% - var(--size-gear-logo) / 2) calc(50% - var(--size-gear-logo) / 2);
}

@media (max-width: 1679px) {
  .gear-logo {
    width: var(--width-left-nav-1440);
    height: var(--height-header-1440);
  }

 .gear-logo img {
    width: var(--size-gear-logo-1440);
    height: var(--size-gear-logo-1440);
    margin: calc(54% - var(--size-gear-logo-1440) / 2) calc(50% - var(--size-gear-logo-1440) / 2);
  }

}

/* Back to home */
.go-back {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.go-back a {
  padding-top: 15px;
}

.go-back a img {
  width: var(--size-go-back);
  height: var(--size-go-back);
  position: relative;
  top: 30px;
  left: 40px;
}

.go-back p {
  font-family: var(--font-sflight);
  font-size: 16px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  position: relative;
  padding-top: 60px;
  left: 52px;
}

@media (max-width: 1679px) {
  .go-back a img {
    top: 12px;
  }
  
  .go-back p {
    padding-top: 42px;
  }
}

.fadeInRight {
  animation: fadeInRight 0.8s linear forwards;
}

@keyframes fadeInRight {
  0% {
     opacity: 1;
     transform: translateX(30px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
} 


/* About, Logo, VI, Print Header */
.header__logo {
  background-color: var(--color-yellow-1-main) !important;
}

.header__print {
  background-color: var(--color-gray-2-socialmedia) !important;
}

.header__vi {
  background-color: var(--color-white) !important;
}

.portfolio__nav {
  height: 40px;
  position: relative;
  top: 52.7px;
  left: 154px;
}

.portfolio__nav a {
  font-family: var(--font-sflight);
  font-size: 18px;
  color: var(--color-black-4-leftNav);
  letter-spacing: 0;
  line-height: 36px;
  margin-right: 60px;
  transition: .4s;
}

.portfolio__nav a.current__page {
  font-family: var(--font-secondary);
}

.portfolio__nav a:hover {
  font-family: var(--font-secondary);
  margin-right: 59px;
}

.underline {
	display: block;
	position: relative;
	z-index: 0;
	bottom: 5px;
	height: 2px;
	background-color: var(--color-black-4-leftNav);
	pointer-events: none;
	mix-blend-mode: multiply;
	transition: transform 1s ease-in-out;
}

.portfolio__nav a:nth-child(1).current__page ~ .underline {
  width: 9.5%;
  left: 0%;
}
.portfolio__nav a:nth-child(2).current__page ~ .underline {
	width: 20%;
  left: 24.5%;
}
.portfolio__nav a:nth-child(3).current__page ~ .underline {
  width: 26%;
  left: 60%;
}

@media (max-width: 1679px) {
  .portfolio__nav {
    top: 36px;
  }
}


/**
* Main
**/

main {
  width: var(--width-main-100vw);
  height: var(--height-section-100vh);
  position: absolute;
  top: var(--height-header);
  left: var(--width-left-nav);
  margin: 0;
}

@media (max-width: 1679px) {
  main {
    width: var(--width-main-100vw-1440);
    height: var(--height-section-100vh-1440);
    top: var(--height-header-1440);
    left: var(--width-left-nav-1440);
  }
}


/**
* Footer
**/

.footer {
  position: relative;
  width: 100%;
  height: 31.04vw;
  top: -5px;
  background-color: var(--color-black-2-footerbg);
  display: grid;
  grid-template-rows: 24% 50% 6% 12% 8%;
  grid-template-columns: 7.69% auto 22.6% 20.79% 184px 7.69%;
  font-family: var(--font-sfultralight)
}

@media (max-width: 1679px) {
  .footer {
    height: 35vw;
    grid-template-columns: 7.69% auto 20% 20% 184px 7.69%;
  }
}

.link__RLD {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
}

.link__work {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  position: relative;
}

.link__others {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  position: relative;

}

.link__contact {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
  position: relative;
}

.links h3 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--color-gray-1-footertext);
}

.links ul li {
  padding-bottom: 12px;
}

.links ul li a {
  font-family: var(--font-sflight);
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-black-7-socialMedia);
  -webkit-transition: 0.8s;
       -o-transition: 0.8s;
          transition: 0.8s;
}

.links ul li a:hover {
  color: var(--color-gray-1-footertext);
  -webkit-transition: 0.8s;
       -o-transition: 0.8s;
          transition: 0.8s;
}

.link__RLD:before,
.link__work:before,
.link__others:before,
.link__contact:before {
  content: "";
  width: 100%;
  height: 0.5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-black-7-socialMedia);
}

.copyright {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-sfultralight);
  font-size: 12px;
  color: var(--color-black-7-socialMedia);
  letter-spacing: 0;
  font-weight: 200;
}

@media (max-width: 1679px) {
  .links h3 {
    font-size: 16px;
  }
  
  .links ul li a {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }
}


/** 
* Social Media Icons
**/

.sci {
  position: relative;
  display: flex;
  flex-direction: row;
}

.sci ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.sci ul li {
  padding-right: 44px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
}

.linkedin svg path {
  fill: var(--color-yellow-4-contactdark);
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.linkedin:hover svg path {
  fill: var(--color-yellow-1-main);
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.bird svg path, 
.fish svg, 
.tv svg {
  fill: var(--color-black-5-text);
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.bird:hover svg path, 
.fish:hover svg, 
.tv:hover svg {
  fill: var(--color-black-7-socialMedia);
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.sci ul li div img {
  position: relative;
  width: 200px;
  left: -84px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.sci ul li div:hover img {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

@media (max-width: 1679px) {
  .sci ul li {
    padding-right: 30px;
    width: 24px;
    height: 24px;
  }

  .sci ul li div img {
    width: 180px;
    left: -79px;
  }
}


/**
/* Overlay Menu
**/

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-black-2-footerbg);
  overflow-x: hidden;
  visibility: hidden;
  z-index: 10000;
  cursor: pointer;
  opacity: 0;
  /*-webkit-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;*/
}

.active {
  cursor: default;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

.overlay a {
  /*padding: 10px;*/
  display: block;
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.overlay .closebtn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 32px;
  right: 48px;
  font-size: 70px;
  font-weight: lighter;
  z-index: 999;
  fill: var(--color-black-5-text);
}

.overlay__content {
  position: relative;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 998;
}

.menu__item {
  position: relative;
  width: 62.083vw;
  text-align: left;
  background-color: var(--color-black-2-footerbg);
  display: grid;
  grid-template-rows: 24% auto 33.52%;
  grid-template-columns: 23.74% auto;  
}

.menu__links {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 42.5px;
}

.menu__links a {
  width: 300px;
  font-size: 40px;
  letter-spacing: -0.62px;
  padding: 0;
  margin-bottom: 85px;
  color: var(--color-black-5-text);
  font-weight: 900;
}

.menu__item a:hover {
  color: var(--color-yellow-1-main);
  transform: scale(1.1) translate(10px, 0px);
  letter-spacing: -0.93px;
}

.menu__contact {
  position: relative;
  width: 37.917%;
  background-color: var(--color-yellow-1-main);
  display: grid;
  grid-template-rows: 44.44% 120px auto;
  grid-template-columns: 35.99% auto;  
}

.menu__contact--content {
  position: relative;
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.menu__contact--content p a {
  padding-bottom: 20px;
  font-family: var(--font-sfthin);
  font-size: 20px;
  color: var(--color-black-5-text);
  letter-spacing: 0.82px;
}

.menu__contact--content p a:before {
  content: "";
  width: 155px;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0;
  background-color: var(--color-black-5-text);
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.menu__contact--content .contact__content-spacing a:before {
  width: 230px;
  top: 66px;
}

.menu__contact--content p a:hover:before {
  opacity: 1;
  transform: scaleX(1);
}

.menu__contact--content .contact__content--spacing {
  letter-spacing: -0.31px;
}

.menu__contact--content .sci {
  width: 221.9px;
  margin-top: 12px;
}

.sci .menu__sci li {
  padding-right: 48.26px;;
  width: 20px;
  height: 20px;
}

.sci .menu__sci li .linkedin svg path {
  fill: var(--color-black-5-text);
}

.sci .menu__sci li .linkedin:hover svg path {
  fill: var(--color-white);
}

.sci .menu__sci li .bird svg path, 
.sci .menu__sci li .fish svg, 
.sci .menu__sci li .tv svg {
  fill: var(--color-yellow-3-dark);
}

.sci .menu__sci li .bird:hover svg path, 
.sci .menu__sci li .fish:hover svg, 
.sci .menu__sci li .tv:hover svg {
  fill: var(--color-white);
}

.sci .menu__sci li div img {
  left: -90px;
    -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
} 

@media (max-width: 1679px) {
  .sci .menu__sci li div img {
    left: -80px;
  }
}


/*
 * Fade in animation
 */

@keyframes fadeInLeft {
  0% {
     opacity: 1;
     transform: translateX(-30px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
} 

.fadeInLeft {
  animation: fadeInLeft 0.8s linear forwards;
}