/**
* Layout
**/

.layout {
  width: 100vw;
  height: 56.25vw;
  display: grid;
  grid-template-rows: 108px 90%;
  grid-template-columns: 100px auto;
}


/**
* Left Side Navigation
**/

nav {
  background: var(--color-black-06);
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  width: var(--width-left-nav);
  height: var(--height-section-100vh);
  top: var(--height-header);
  position: fixed;
}

.nav__left {
  width: 100%;
  height: var(--width-left-nav);
  position: fixed;
  top: var(--height-header);
  left: 0;
  overflow-y: hidden;
  overflow-x: auto;
  background: var(--color-black-06);
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg)translateX(-100%);
  -moz-transform-origin: left top;
  -moz-transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  z-index: 1;
}

.nav__left ul {
  position: relative;
  top: 38.5px;
  margin: 0 auto;
  margin-right: 163.2px;
  padding: 0;
}

.nav__left ul li {
  margin-left: 111.6px;
  position: relative;
  display: inline;
  float: right;
  height: 100%;
}

.nav__left ul li a {
  font-family: var(--font-secondary);
  font-size: 18px;
  color: var(--color-white-01);
  letter-spacing: 3.02px;
  text-transform: uppercase;
  line-height: 21px;
  width: 21px;
}

.nav__left ul li:hover a {
  color: var(--color-yellow-01);
}


/**
* Header
**/

/* Homepage */
.header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100vw;
  height: 108px;
  position: fixed;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  z-index: 5;
}

/* Logo */
.header__russell-logo {
  width: var(--width-homepage-russell-logo);
  height: var(--height-header);
}

.header__russell-logo img {
  width: 100%;
  height: 100%;
}

.header__russell-logo h1 {
  font-size: 28px;
  color: var(--color-black-07);
  display: flex;
  flex-direction: row;
  letter-spacing: 0;
  line-height: 33px;
  margin: 36px 0 39px 0;
}

.header__russell-logo h1 span {
  font-size: 28px;
  letter-spacing: 4.06px;
}

/* Overlay Menu Btn*/
.header__overlay-menu {
  position: absolute;
  z-index: 999;
  right: 0;
}

.openbtn {
  width: 72px;
  height: 49px;
  cursor: pointer;
  position: relative;
  top: var(--size-overlay-btn-position);
  right: var(--size-overlay-btn-position);
}

/* About, Logo, VI, Print Header */
.header__logo {
  background-color: var(--color-yellow-10) !important;
}

.header__vi {
  background-color: var(--color-white-05) !important;
}

.header__print {
  background-color: var(--color-black-18) !important;
}

/* Logo */
.gear-logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  width: 100px;
  height: 108px;
  background-color: var(--color-black-06);
}

.gear-logo img {
  width: var(--size-gear-logo);
  height: var(--size-gear-logo);
  margin: calc(50% - var(--size-gear-logo) / 2) calc(50% - var(--size-gear-logo) / 2);
}

/* Back to home */
.go-back {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.go-back a {
  padding-top: 15px;
}

.go-back a img {
  width: var(--size-go-back);
  height: var(--size-go-back);
  position: relative;
  top: 30px;
  left: 64px;
}

.go-back p {
  font-family: var(--font-sfbold);
  font-size: 20px;
  color: var(--color-black-01);
  letter-spacing: 0;
  position: relative;
  padding-top: 60px;
  left: 84px;
}

.portfolio__nav {
  height: 40px;
  position: relative;
  top: 52.7px;
  left: 154px;
}

.portfolio__nav a {
  font-family: var(--font-sfbold);
  font-size: 20px;
  color: var(--color-black-01);
  letter-spacing: 0;
  line-height: 40px;
  margin-right: 57px;
}

.current__page {
  padding-bottom: 10px;
  border-bottom: 4px solid var(--color-black-10);
}


/**
* Main
**/

main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}


/**
* Footer
**/

.footer {
  position: relative;
  width: 100%;
  height: 31.04vw;
  background-color: var(--color-black-03);
  display: grid;
  grid-template-rows: 20.47% 57.38% 8.56% 3.19% 10.4%;
  grid-template-columns: 8.41% 30.4% 22.6% 20.79% auto 7.69%;
  overflow: hidden;
}

.link__RLD {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  border-bottom: 1px solid var(--color-black-12);
}

.link__work {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  border-bottom: 1px solid var(--color-black-12);
}

.link__social {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  border-bottom: 1px solid var(--color-black-12);
}

.link__contact {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
  border-bottom: 1px solid var(--color-black-12);
}

.links h3 {
  font-family: var(--font-sfbold);
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--color-black-19);
}

.links ul li {
  padding-bottom: 21px;
}

.links ul li a {
  font-family: var(--font-sflight);
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-black-19);
}

.copyright {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-sfthin);
  font-size: 16px;
  color: var(--color-black-19);
  letter-spacing: 0;
  font-weight: 200;
}