@font-face {
  font-family: 'Arial-Black';
  src:  url('../fonts/arial-black-2.ttf') format('ttf');
}

@font-face {
  font-family: 'ArialMT';
  src:  url('../fonts/ARIALMT.ttf') format('ttf');
}

@font-face {
  font-family: 'SFProText-Regular';
  src:  url('../fonts/SF-Pro-Text-Regular.otf') format('otf');
}

@font-face {
  font-family: 'SFProText-Thin';
  src:  url('../fonts/SF-Pro-Text-Thin.otf') format('otf');
}

@font-face {
  font-family: 'SFProText-Bold';
  src:  url('../fonts/SF-Pro-Text-Bold.otf') format('otf');
}

@font-face {
  font-family: 'SFProText-Medium';
  src:  url('../fonts/SF-Pro-Text-Medium.otf') format('otf');
}

@font-face {
  font-family: 'SFProText-Light';
  src:  url('../fonts/SF-Pro-Text-Light.otf') format('otf');
}

@font-face {
  font-family: 'SFProText-UltraLight';
  src:  url('../fonts/SF-Pro-Text-Ultralight.otf') format('otf');
}

:root {

  /**
  * Color
  */

  --color-white-01: #FFFFFF;
  --color-white-02: #FDFDFD;
  --color-white-03: #F5F5F5;
  --color-white-04: #D8D8D8;
  --color-white-05: #FEFEFE;

  --color-yellow-01: #FFC84E;
  --color-yellow-02: #F2BB12;
  --color-yellow-03: #FFC512;
  --color-yellow-04: #FBCF46;
  --color-yellow-05: #FFD70F;
  --color-yellow-06: #FFC84E;
  --color-yellow-07: #FFE396;
  --color-yellow-08: #FDC332;
  --color-yellow-09: #FEC433;
  --color-yellow-10: #FDBE2B;

  --color-black-01: #000000;
  --color-black-02: #090909;
  --color-black-03: #1F1F1F;
  --color-black-04: #141414;
  --color-black-05: #151515;
  --color-black-06: #2A2929;
  --color-black-07: #2A2A2A;
  --color-black-08: #2B2B2B;
  --color-black-09: #282828;
  --color-black-10: #333333;
  --color-black-11: #343434;
  --color-black-12: #373737;
  --color-black-13: #393938;
  --color-black-14: #444444;
  --color-black-15: #4c4c4c;
  --color-black-16: #616161;
  --color-black-17: #666666;
  --color-black-18: #c3c3c3;
  --color-black-19: #BBBBBB;

  --color-dark-blue-01: #062E37;
 
 /**
  * New Color update in 2/18/2021
  */


  --color-black1-homebg: #090909;
  --color-black2-footerbg: #191919;
  --color-black3-leftnav: #2B2B2B;
  --color-black4-text: #333333;
  --color-black5-socialmedia: #888888;

  --color-white: #FFFFFF;

  --color-gray1-footertext:#BBBBBB;
  --color-gray2-socialmedia:#cccccc;
  --color-gray3-printbg:#D8D8D8;
  --color-gray4-aboutbg:#F5F5F5;
  --color-gray5-mainbg:#FDFDFD;

  --color-yellow1-main:#FFC512;
  --color-yellow2-light:#FFDE79;
  --color-yellow3-dark:#E5AC01;


  /**
  * Font Family
  */

  --font-primary: "Arial-Black";
  --font-secondary: "SFProText-Regular";
  --font-span: "ArialMT";
  --font-sfthin: "SFProText-Thin";
  --font-sfbold: "SFProText-Bold";
  --font-sfmedium: "SFProText-Medium";
  --font-sflight: "SFProText-Light";
  --font-sfultralight: "SFProText-UltraLight";


  /**
  * Size
  */

  --size-russell-logo-gear: 68px;
  --size-overlay-btn-position: 48px;
  --size-gear-logo: 63.7px;
  --size-go-back: 54px;


  /**
  * Width
  */

  --width-left-nav: 100px;
  --width-footer: 1637px;
  --width-homepage-russell-logo: 376px;
  --width-homepage-about-container: 1000px;
  --width-homepage-portfolio-container: 1256px;
  --width-homepage-portfolio-img: 914px;

  --width-about-media-content: calc(234px - var(--width-left-nav));
  --width-about-media-collection: calc(181px - var(--width-left-nav));
  --width-about-media-teaching: calc(257px - var(--width-left-nav));


  /**
  * Height
  */
  --height-header: 108px;
  --height-footer: 674px;
  --height-section-1080-proportion: calc(56.25vw - var(--height-header));
  --height-section-100vh: calc(100vh - var(--height-header));
  --height-homepage-banner-section: calc(100vh - var(--height-header));
  --height-homepage-about-section: 1061px;
  --height-homepage-about-container: 666px;
  --height-homepage-portfolio-section: 1080px;
  --height-homepage-portfolio-container: 610px;
  --height-homepage-portfolio-img: 610px;
  --height-homepage-mail-section: 1148px;
  --height-homepage-contact-section: 1800px;

  --height-about-location: 1080px;
  --height-about-clients-nonprofit: 640px;
  --height-about-clients: calc(955px + var(--height-about-clients-nonprofit));


  --width-scale-1200: 0.625;
  --width-scale-992: 0.52;
  --width-scale-768: 0.4267;

}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 56.25vw;
  position: relative;
  background-color: var(--color-white-02);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  color: var(--color-white-01);
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-white-01);
}

li {
  list-style: none;
}


