@font-face {
  font-family: 'Arial-Black';
  src:  url('../fonts/arial-black-2.ttf') format('ttf');
}

@font-face {
  font-family: 'ArialMT';
  src:  url('../fonts/ARIALMT.ttf') format('ttf');
}

@font-face {
  font-family: 'SFProText-Regular';
  src:  url('../fonts/SF-Pro-Text-Regular.otf') format('otf');
  src:  url('../fonts/SF-Pro-Text-Regular.woff') format('woff');
  src:  url('../fonts/SF-Pro-Text-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SFProText-Thin';
  src:  url('../fonts/SF-Pro-Text-Thin.otf') format('otf');
  src:  url('../fonts/SF-Pro-Text-Thin.woff') format('woff');
  src:  url('../fonts/SF-Pro-Text-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'SFProText-Bold';
  src:  url('../fonts/SF-Pro-Text-Bold.otf') format('otf');
  src:  url('../fonts/SF-Pro-Text-Bold.woff') format('woff');
  src:  url('../fonts/SF-Pro-Text-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SFProText-Medium';
  src:  url('../fonts/SF-Pro-Text-Medium.otf') format('otf');
  src:  url('../fonts/SF-Pro-Text-Medium.woff') format('woff');
  src:  url('../fonts/SF-Pro-Text-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SFProText-Light';
  src:  url('../fonts/SF-Pro-Text-Light.otf') format('otf');
  src:  url('../fonts/SF-Pro-Text-Light.woff') format('woff');
  src:  url('../fonts/SF-Pro-Text-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'SFProText-UltraLight';
  src:  url('../fonts/SF-Pro-Text-Ultralight.otf') format('otf');
  src:  url('../fonts/SF-Pro-Text-Ultralight.woff') format('woff');
  src:  url('../fonts/SF-Pro-Text-Ultralight.woff2') format('woff2');
}

:root {

  /**
  * Color
  */

  --color-black-1-homebg: #090909;
  --color-black-2-footerbg: #191919;
  --color-black-3-formBorder: #2A2A2A;
  --color-black-4-leftNav: #2B2B2B;
  --color-black-5-text: #333333;
  --color-black-6-validText: #343434;
  --color-black-7-socialMedia: #888888;

  --color-white: #FFFFFF;

  --color-gray-1-footertext:#BBBBBB;
  --color-gray-2-socialmedia:#CCCCCC;
  --color-gray-3-printbg:#D8D8D8;
  --color-gray-4-aboutbg:#F5F5F5;
  --color-gray-5-mainbg:#FDFDFD;

  --color-yellow-1-main:#FFC512;
  --color-yellow-2-light:#FFDE79;
  --color-yellow-3-dark:#E5AC01;
  --color-yellow-4-contactdark: #997400;
  --color-yellow-5-invalidText: #785C03;

  --color-red-error: #DC5C5C;


  /**
  * Font Family
  */

  --font-primary: "Arial-Black";
  --font-secondary: "SFProText-Regular";
  --font-span: "ArialMT";
  --font-sfthin: "SFProText-Thin";
  --font-sfbold: "SFProText-Bold";
  --font-sfmedium: "SFProText-Medium";
  --font-sflight: "SFProText-Light";
  --font-sfultralight: "SFProText-UltraLight";


  /**
  * Size
  */

  --size-russell-logo-gear: 68px;
  --size-overlay-btn-position: 48px;
  --size-gear-logo: 60px;
  --size-gear-logo-1440:48px;
  --size-go-back: 48px;


  /**
  * Width
  */

  --width-left-nav: 100px;
  --width-homepage-russell-logo: 354px;
  --width-main-100vw: calc(100vw - var(--width-left-nav));

  --width-left-nav-1440: 76px;
  --width-homepage-russell-logo-1440: 264px;
  --width-main-100vw-1440: calc(100vw - var(--width-left-nav-1440));


  /**
  * Height
  */

  --height-header: 108px;
  --height-section-1080-proportion: calc(56.25vw - var(--height-header));
  --height-section-100vh: calc(100vh - var(--height-header));

  --height-header-1440: 80.54px;
  --height-section-1080-proportion-1440: calc(56.25vw - var(--height-header-1440));
  --height-section-100vh-1440: calc(100vh - var(--height-header-1440));
  
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 56.25vw;
  position: relative;
  background-color: var(--color-gray5-mainbg);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  color: var(--color-white);
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

li {
  list-style: none;
}


[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(-100px)!important;
}
