body.scroll__height--logo,
.portfolio__layout--logo,
.main__logo--page,
body.scroll__height--print,
.portfolio__layout--print,
.main__print--page {
  height: calc((1920px - 100vw) * 1.25 + 4800px) !important;
}

body.scroll__height--vi,
.portfolio__layout--vi,
.main__vi--page {
  height: calc((1920px - 100vw) * 1.25 + 6455px) !important;
}

.main__logo--page {
  width: 100vw !important;
  background-color: var(--color-yellow-1-main);
  position: relative;
}

.main__print--page {
  width: 100vw !important;
  background-color: var(--color-gray-2-socialmedia);
  position: relative;
}

.main__vi--page {
  width: 100vw !important;
  background-color: var(--color-white);
  position: relative;
}

h1 {
  font-size: 28px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  line-height: 40px;
  position: fixed;
  padding-top: 108px;
  padding-left: 102px;
}

#dragSpace {
  position: fixed;
  width: 7272px;
  height: 360px;
  top: 280px;
  left: calc(-3636px + var(--width-left-nav) + 15px); /*-4910px;*/
  margin-top: 10px;
}

#wrapperBoxes{
  position: absolute;
  width: 3636px;
  height: 360px;
  left: 3636px;
  display: flex;
  flex-direction: row;
}

.portfolio__Box {
  position: relative;
  width: 829px;
  height: 360px;
  display: flex;
  flex-direction: row;
}

.portfolio__imgBox {
  position: relative;
  width:540px;
  height: 360px;
  margin-left: 88px;
  background: var(--color-white);
  box-shadow: 0 60px 80px 0 rgba(0,0,0,0.08);
}

.portfolio__imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom bottom;
}

.portfolio__desc {
  width: 153px;
  height: auto;
  margin-left: 24px;
}

.portfolio__desc h2 {
  font-family: var(--font-sfbold);
  font-size: 16px; 
  color: var(--color-black-5-text);
  letter-spacing: 0;
  line-height: 18px;
  padding-bottom: 16px;
}

.portfolio__desc p {
  font-family: var(--font-sflight);
  font-size: 14px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  line-height: 14px;
}

.portfolio__next--page {
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
}

.portfolio__next--page a {
  width: 100px;
  height: 100px;
  position: relative;
}

.next__page--shade {
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 12%);
  border-radius: 50%;
}

.portfolio__next-page a img {
  width: 100%;
  height: 100%;
}

.portfolio__next--page p {
  font-family: var(--font-secondary);
  font-size: 16px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  margin-top: 20px;
}

.portfolio__gear {
  width: 160px; /*188.8px;*/
  height: 160px; /*188.8px;*/
  position: fixed;
  right: -76px; /*-95px;*/
  bottom: -34px; /*-38px;*/
}

.portfolio__gear img {
  width: 100%;
  height: 100%;
}

.portfolio__scroll {
  width: 200px;
  height: 30px;
  position: fixed;
  right: 146px;
  bottom: 20px;
  font-family: var(--font-sflight);
  font-size: 11px;
  color: var(--color-black-5-text);
  letter-spacing: 1.5px;
  line-height: 12px;
}

.portfolio__scroll:after {
  content: "";
  width: 40px;
  height: 0.5px;
  position: absolute;
  top: 20%;
  left: 186px;
  background-color: var(--color-black-5-text);
}

@media (max-width: 1679px) {
  h1 {
    padding-top: 100px;
    padding-left: 100px;
  }

  #dragSpace {
    top: 254px;
    left: calc(-3636px + var(--width-left-nav-1440));
  }

  .portfolio__imgBox {
    margin-left: 100px;
  }

  .portfolio__gear {
    width: 140px;
    height: 140px;
    position: fixed;
    right: -68px;
    bottom: -30px;
  }
}

@media (max-width: 1200px) {
  body.scroll__height--logo,
  .portfolio__layout--logo,
  .main__logo--page,
  body.scroll__height--print,
  .portfolio__layout--print,
  .main__print--page {
    height: calc((1920px - 100vw) * 1.55 + 4800px) !important;
  }

  body.scroll__height--vi,
  .portfolio__layout--vi,
  .main__vi--page {
    height: calc((1920px - 100vw) * 1.55 + 6455px) !important;
  }
}