body.scroll__height--logo,
.portfolio__layout--logo,
.main__logo--page {
  height: 6450px !important;
}

body.scroll__height--print,
.portfolio__layout--print,
.main__print--page {
  height: 5720px !important;
}

body.scroll__height--vi,
.portfolio__layout--vi,
.main__vi--page {
  height: 5450px !important;
}

.main__logo--page {
  width: 100vw !important;
  background-color: var(--color-yellow-1-main);
  position: relative;
}

.main__print--page {
  background-color: var(--color-gray-2-socialmedia);
  position: relative;
}

.main__vi--page {
  background-color: var(--color-white);
  position: relative;
}

@media (min-width: 1670px) {
  body.scroll__height--logo,
  .portfolio__layout--logo,
  .main__logo--page {
    height: 5700px !important;
  }

  body.scroll__height--print,
  .portfolio__layout--print,
  .main__print--page {
    height: 5120px !important;
  background-color: var(--color-gray2-socialmedia);
  }

  body.scroll__height--vi,
  .portfolio__layout--vi,
  .main__vi--page {
    height: 5120px !important;
  }
}

h1 {
  font-size: 30px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  line-height: 40px;
  position: fixed;
  padding-top: 138px;
  padding-left: 128px;
}

.portfolio__container {
  position: fixed;
  top: 330px;
  left: calc(var(--width-left-nav) + 8px);
  display: flex;
}

.portfolio__container--logo,
.portfolio__container--print {
  width: 700px;
}

.portfolio__container--vi {
  width: 1000px;
}

section {
  height: auto;
  display: flex;
}

.portfolio__section--logo {
  background-color: var(--color-yellow-1-main);
}

.portfolio__imgBox {
  position: relative;
  width: 540px;
  height: 360px;
  margin-left: 112px;
  background: var(--color-white);
  box-shadow: 0 60px 80px 0 rgba(0,0,0,0.08);
}

.portfolio__imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom bottom;
}

.portfolio__desc {
  width: 153px;
  height: auto;
  margin-left: 24px;
}

.portfolio__desc h2 {
  font-family: var(--font-sfbold);
  font-size: 19px; 
  color: var(--color-black-5-text);
  letter-spacing: 0;
  line-height: 19px;
  padding-bottom: 17px;
}

.portfolio__desc p {
  font-family: var(--font-secondary);
  font-size: 16px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  line-height: 19px;
}

.portfolio__next--page {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
}

.portfolio__next--page a {
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .6);
  border-radius: 50%;
}

.portfolio__next-page a img {
  width: 100%;
  height: 100%;
}

.portfolio__next--page p {
  font-family: var(--font-secondary);
  font-size: 16px;
  color: var(--color-black-5-text);
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  margin-top: 20px;
}

.portfolio__gear {
  width: 150px; /*188.8px;*/
  height: 150px; /*188.8px;*/
  position: fixed;
  right: -60px; /*-95px;*/
  bottom: -8px; /*-38px;*/
}

.portfolio__gear--img {
  width: 100%;
  height: 100%;
}

.portfolio__scroll {
  width: 66px;
  height: 30px;
  position: fixed;
  right: 166px;
  bottom: 42px;
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--color-black-5-text);
  letter-spacing: 1.75px;
  line-height: 30px;
}

.portfolio__scroll:after {
  content: "";
  width: 38px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 80px;
  background-color: var(--color-black-5-text);
}

@media (max-width: 1670px) {
  h1 {
    padding-top: 100px;
    padding-left: 128px;
  }

  .portfolio__container {
    top: 280px;
    left: calc(var(--width-left-nav-1440) + 8px);
  }  
}