html, body {
  /*width: 2086px;
  min-height: 100%;*/
  position: relative;
  background-color: #FDFDFD;
  font-family: Arial-Black;
  /*margin: 62px 136px 0 23px;*/
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

/***********************/
/* Header              */
/***********************/
.header {
  top: 0;
  left: 0;
  height: 98px;/* Sara annotaion: 108px; */
  width: 100%;
  max-width: 1920px;
  position: fixed;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  background-color: #fff;
  z-index: 1;
}

/* Logo */
.russell-logo {
  width: 376px;
  height: 98px;/* Sara annotaion: 108px; */
  background-color: #FFC84E;
  display: flex;
  flex-direction: row;
}

.russell-logo img {
  width: 68px;
  height: 68px;
  margin: auto 21px auto 19px;
}

.russell-logo h1 {
  font-size: 28px;
  color: #2A2929;
  display: flex;
  flex-direction: row;
  letter-spacing: 0;
  line-height: 33px;
  margin: 25px 0 28px 0;/* Sara annotaion: 36px 0 39px 0;*/
}

/*
.russell-logo .first-name {
  letter-spacing: 0;
  line-height: 33px;
  margin: 36px 0 39px 0;
}

.russell-logo .last-name {
  letter-spacing: 4.06px;
  margin: 33px 12px 35px 0;
}*/

/* Overlay Menu */
.overlay-menu {
  position: absolute;
  z-index: 999;
  right: 0;
}

.openbtn {
  width: 72px;
  height: 49px;
  cursor: pointer;
  position: absolute;
  top: 20px;/* Sara annotaion: 48px; */
  right: 20px;/* Sara annotaion: 48px;*/
}

/***********************/
/* Side Navigation     */
/***********************/
nav {
  height: calc(100vh - 98px);/* Sara annotaion: 108px);*/
  width: 120px;
  top: 98px;/* Sara annotaion: 108px; */
  left: 0;
  position: fixed;
  background: #4c4c4c;
}

nav .sidenav {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 108px;
  right: 0;
  overflow-y: hidden;
  overflow-x: auto;
  background: #4c4c4c;
 -webkit-transform-origin: left top;
 -webkit-transform: rotate(-90deg)translateX(-100%);
 -moz-transform-origin: left top;
 -moz-transform: rotate(-90deg) translateX(-100%);
 transform-origin: left top;
 transform: rotate(-90deg) translateX(-100%);
 z-index: -1;
}

.sidenav ul {
  margin-top: 51px;
  margin-right: 160px;
  padding: 0;
}

.sidenav ul li {
  margin-left: 116px;
  position: relative;
  display: inline;
  float: right;
  height: 100%;
  line-height: 21px;
}

.sidenav ul li a {
  font-family: SFProText-Regular;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 3.02px;
}

.sidenav ul li:hover a {
  color: #FFC84E;
}

/***********************/
/* Main                */
/***********************/
main {
  position: absolute;
  width: calc(100% - 120px);
	/*height: calc(100vh - 108px);*/
	top: 98px;/* Sara annotaion: 108px; */
	left: 120px;
  overflow-y: hidden;
}

/* Banner */
.banner {
  height: 979px;
  background-color: #FDFDFD;
  display: flex;
  flex-direction: column;
}

.container-banner {
  position: relative;
  /* 按照annotation的話
  width: 700px;
  height: 404px;
  margin: 192px auto;*/

  width: 100%;
  height: 100%;
}

/* 按照annotation的話，但是蛋和字離得有點遠
.banner .container-banner .egg {
  position: relative;
  display: block;
  width: 606px;
  height: 404px;
  margin: auto;
}

.banner .container-banner .motto {
  position: absolute;
  width: 174px;
  height: 42px;
  margin: auto;
  z-index: 2;
  top: 359.5px;
  left: 262px;
}*/

.banner-img {
  position: relative;
  display: block;
  width: 606px;
  height: 404px;
  margin: 192px auto;
}

.banner-hover {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FDFDFD;
  transition: all 1s ease-out;
  -webkit-transition: all 0.2s ease-in;
}

.banner-hover img {
  display: block;
  height: 404px;
  width: 606px;
  margin: 192px calc(50% - 303px);
}

.banner-hover-content {
  position: absolute;
  top: 200px;
  left: calc(50% - 303px);
  width: 606px;
}

.banner-content p {
  font-family: SFProText-Regular;
}

.see-more p {
  text-align: center;
  padding-top: 150px;
}

.container-banner:hover .banner-hover {
  display: inline;
}

.container-banner:hover .banner-hover p {
  -webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

/***********************/
/* About               */
/***********************/
.about {
  width: 100%;
  height: 1061px;
  background-color: #000000;
  position: relative;
}

.container-about {
  width: 1000px;
  height: 666px;
  background-image: url("../images/homepage/about.png");
  background-size: 1000px 666px;
  background-position: center;
  margin: 0 auto;
	position: absolute;
  top: 192px;
  left: calc(50% - 500px);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

.container-about a h2 {
  opacity: 1;
  transition: .1s ease;
  backface-visibility: hidden;
  color: #FFFFFF;
  text-align: center;
  font-family: Arial-Black;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 100px;
}

.about-hover {
  width: 50%;
  text-align: center;
}

.about-hover h2 {
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

.about-hover p {
  color: #FFFFFF;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
}

.about-hover:hover h2{
  -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.about-hover:hover p,
.about-hover:hover a {
  opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

.about-hover a {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.about-hover a p {
  padding-right: 10px;
}

/***********************/
/* Portfolio Section   */
/***********************/
.logo,
.print,
.vi {
  width: 100%;
  height: 1080px;
  background-color: #1F1F1F; /* annotaion: #D8D8D8; */
  position: relative;
}

.portfolio-bg {
  opacity: 0.52;
  position: absolute;
  top: 18.5px;
  right: 143px;
}

.container-portfolio {
  width: 1122px;
  height: 676.8px;
  position: absolute;
  top: 187.1px;
  right: 174px;
  display: flex;
  flex-direction: row;
}

.container-vi {
  width: 1255px;
}

.section-content {
  width: 300px;
  margin-top: 27.4px;
}

.section-content h2 {
  font-family: Arial-Black;
  font-size: 60px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 96px;
  margin: 0;
}

.vi-content {
  width: 295px;
  height: 133px;
}

.vi-h2 {
  font-family: Arial-Black;
  font-size: 60px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: right;
  line-height: 64px;
}

.section-photo {
  position: absolute;
  right: 0;
  background-color: #000000;
  opacity: 0.38;
}

.section-photo img {
  width: 913px;
  height: 676.8px;
}

.section-more {
  width: 276px;
  height: 136px;
  position: absolute;
  top: 267.4px;
  right: 848px;
  display: flex;
  align-items: center;
}

.section-more span {
  font-family: ArialMT;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-right: 32px;
}

.section-more img {
  width: 136px;
  height: 136px;
}

/***********************/
/* Mail                */
/***********************/
.mail {
  height: 1148px;
  background-color: #FFC512;
  position: relative;
}

.container-mail{
  width: 324px;
  height: 182px;
  position: absolute;
  top: 486px;
  left: calc(50% - 162px);/* Sara annotation: 896px; */
  display: flex;
  flex-direction: column;
}

.container-mail a {
  margin: 0 auto;
}

.container-mail a img {
  width: 128px;
  height: 86px;
}

.mail-content {
  margin: 0 auto;
  margin-top: 54px;
  background-color: #333333;
  width: 324px;
  height: 42px;
}

.mail-content p {
  text-align: center;
  font-family: ArialMT;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-top: 9px;
  margin-bottom: 11px;
}

/***********************/
/* Contact             */
/***********************/
.contact {
  position: relative;
  height: 1800px;
  background-color: #090909;
  color: #fff;
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;*/
}

.container-contact {
  width: calc(100% - 200px);
  height: 1560px;
  position: absolute;
  top: 240px;
  left: 100px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.contactForm,
.contactInfo {
  width: calc(50% - 10px);
  height: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: flex-start;
}

.contactForm {
  width: calc(65% - 10px);
}

.contactInfo {
  width: calc(35% - 10px);
}

.contactForm h2 {
  font-family: Arial-Black;
  font-size: 60px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 60px;
  margin: 0;
}

.contactForm p {
  font-family: SFProText-Thin;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 32px;
  margin-bottom: 0;
}

form {
  margin-top: 74px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputBox {
  position: relative;
  width: 80%;
  font-family: SFProText-Thin;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  padding: 5px 10px;;
  font-size: 12px;
  margin: 20px 0;
  margin-bottom: 78px;
  border: 1px solid #2A2A2A;
  background-color: #090909;
  outline: none;
  resize: none;
  height: 80px;
  color: #fff;
  border-radius: 4px;
}

.inputBox textarea {
  height: 252px;
  margin-bottom: 80px;
}

.submit {
  width: 260px;
  height: 88px;
  background-color: #F2BB12;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s linear;
  border-radius: 4px;
  font-family: SFProText-Medium;
  font-size: 28px;
  color: #343434;
  letter-spacing: 0.3px;
}

.contactBox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 268px 30px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text p {
  padding-bottom: 24px;
  margin: 0;
  font-family: SFProText-Thin;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.text span {
  padding-bottom: 105px;
  font-family: SFProText-Regular;
  font-size: 24px;
  color: #F2BB12;
  letter-spacing: 0;
}
.sci {
  position: relative;
  display: flex;
  flex-direction: row;
}

.sci ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0;
}

.sci ul li {
  padding-right: 44px;
  width: 32px;
  height: 32px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 105px;
  background-color: #ffff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 99;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;

}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.tooltip .exitLinkedIn {
  background-color: #ffD70f;
  color: #000;
}

.tooltip .exitLinkedIn::after {
  border-color: transparent transparent #ffD70f transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .img-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 32px;
  height: 32px;
}

.tooltip:hover .img-hover {
    display: inline;
}

/***********************/
/* Footer              */
/***********************/
footer {
  height: 674px;
  background-color: #1F1F1F;
  padding: 182px 140px 52px;
  display:block;
}

.footer-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container-link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 136px;
  border-bottom: 1px solid #373737;
}

footer .footer-row .container-link .links {
  padding-right: 50px; /* Sara annotaion: 195px; */
}

footer .footer-row .container-link .links h3 {
  font-family: SFProText-Bold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin: 0;
  padding-bottom: 54px;
}

footer .footer-row .container-link .links ul {
  margin: 0;
  padding-left: 0;
}

footer .footer-row .container-link .links ul li {
  padding-bottom: 21px;
}

footer .footer-row .container-link .links ul li a {
  font-family: SFProText-Regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.copyright {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.copyright p {
  font-family: SFProText-Thin;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-top: 41px;
}

/***********************/
/* Right Side Bar      */
/***********************/
aside {
  width: 18px;
  height: 540px;position: fixed;
  top: 200px;
  right: 50px;
  z-index: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.slider__indicator {
  display: block;
  width: 5px;
  height: 57px;
  margin: 10px 0;
  /*border-radius: 100px;
  background-color: #fff;*/
  cursor: default;
}

/***********************/
/* Overlay Menu        */
/***********************/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 1.0s;
  z-index: 1;
}

.overlay a {
  padding: 10px;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 70px;
  font-weight: lighter;
  color: #666;
  z-index: 999;
}

.overlay-content {
  position: relative;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: center;
  z-index: 998;
}

.menu-item {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: calc(100% - 600px);
  width: 65%;
  text-align: center;
  background-color: #000;
  padding: 300px 0;
}

.overlay .overlay-content .menu-item a {
  color: #fff;
  padding: 20px 0;
  font-size: 50px;
}

.overlay .overlay-content .menu-item a:hover {
  color: #ffD70f;
}

.overlay .overlay-content .menu-contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: calc(100% - 800px);
  width: calc(35% - 160px);
  margin-left: 65%;
  background-color: #FFC84E;
  padding: 400px 80px;
  align-items: center;
}

.menu-contact p {
  color: #666;
}

.tooltip a {
  padding: 0;
}

/*
.overlay .overlay-content .menu-contact .sci {
  position: relative;
  display: flex;
}

.overlay .overlay-content .menu-contact .sci ul {
  display: table;
  margin: 0 auto;
}

.overlay .overlay-content .munu-contact .sci li {
  margin: 0 15px;
  display:inline;
}

.overlay .overlay-content .menu-contact .sci li .tooltip .tooltiptext {
  color: #000;
  font-size: 10px;
}

.overlay .overlay-content .menu-contact .sci li .tooltip a {
  padding: 0;
}*/
