* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
}

.contact {
  position: relative;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*.contact h2,
.contact p {
  align-items: flex-start;
}*/

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container .contactForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.container .contactForm h2,
.container .contactForm p {
  align-items: flex-start;
}

form {
  margin-top: 50px;
  width: 80%;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 10px;;
  font-size: 12px;
  margin: 10px 0;
  margin-bottom: 20px;
  border: 1px solid #fff;
  background-color: #000;
  outline: none;
  resize: none;
  min-height: 40px;
  color: #fff;
}

.contactForm .inputBox textarea {
  height: 100px;
}

button {
  width: 120px;
  height: 40px;
  margin-left: auto;
  background-color: #ffD70f;/*rgba(255, 215, 15, 1);#f2bb11;*/
  border: none;
  color: #666;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s linear;
  border-radius: 2px;
}

.container .contactInfo {
  width: 50%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.container .contactInfo .contactBox {
  position: relative;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.container .contactInfo .contactBox .text {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.container .contactInfo .contactBox .text p {
  padding: 15px 0;
  font-size: 12px;
}

.container .contactInfo .contactBox .text span {
  /*padding: 5px 0;*/
  color: #ffD70f;
  font-size: 12px;
}
.container .contactInfo .contactBox .text .sci {
  position: relative;
  display: flex;
}

.container .contactInfo .contactBox .text .sci li {
  list-style: none;
  margin-right: 35px;
  display:inline;
}

.container .contactInfo .contactBox .text .sci li .tooltip .tooltiptext {
  color: #000;
  font-size: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 105px;
  background-color: #ffff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;

}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.tooltip .exitLinkedIn {
  background-color: #ffD70f;
  color: #000;
}

.tooltip .exitLinkedIn::after {
  border-color: transparent transparent #ffD70f transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactForm {
    margin-bottom: 40px;
  }
  .container .contactForm {
    width: 80%;
  }
  .container .contactInfo {
    width: 80%;
  }
}
