* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #FFFEFA;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  margin: 50px;
  text-align: center;
  color: #EB9F9F;
}
